$fontFamily: 'NanumSquare', sans-serif;

$color-default: #444;
$color-primary: #005bab;
$color-secondary: #f9b43a;
$white: #fff;
$black: #000;
$black2: #222;
$black3: #1f1f1f;
$black4: #121212;
$gray: #a8a8b8;
$gray2: #dedce5;
$gray3: #cecedc;
$gray4: #7a7a7a;
$gray5: #888;
$lightGray: #efeff6;
$lightGray2: #f7f7fc;
$navy: #005bab;
$blue: #2f77c9;

$nav-height: 85px;
