$fontFamily: 'NanumSquare', sans-serif;

$color-default: #444;
$color-primary: #005bab;
$color-secondary: #f9b43a;
$white: #fff;
$black: #000;
$black2: #222;
$gray: #a8a8b8;
$gray2: #dedce5;
$lightGray: #efeff6;
$navy: #005bab;

$nav-height: 85px;
