.dllist {
    margin-top: 25px;

    & > dt {
        padding-bottom: 10px;
        margin-bottom: 12px;
        color: $black4;
        font-weight: 700;
        font-size: 18rem;
        border-bottom: 1px solid $gray2;
    }

    & > dd {
        position: relative;
        padding-left: 10px;
        font-size: 14px;
        margin-top: 5px;

        &:first-of-type {
            margin-top: 0;
        }

        &::before {
            content: '';
            display: block;
            position: absolute;
            width: 6px;
            height: 1px;
            top: 8px;
            left: 0;
            background-color: $color-default;
        }
    }

    @include mq('desktop') {
        margin-top: 65px;

        & > dt {
            padding-bottom: 20px;
            margin-bottom: 25px;
            font-size: 32rem;
        }

        & > dd {
            padding-left: 12px;
            font-size: 20px;
            margin-top: 8px;

            &::before {
                top: 14px;
            }
        }
    }
}

.brdlist {
    & > li {
        border: 1px solid $gray2;
        margin-top: 12px;

        & > a {
            display: block;
            display: flex;
        }

        &:first-of-type {
            margin-top: 0;
        }

        @include mq('desktop') {
            margin-top: 24px;
        }
    }

    .imgthumb {
        flex: 0 170px;

        img {
            width: 100%;
        }
    }

    .brd-desc {
        flex: 0 calc(100% - 196px);
        width: calc(100% - 196px);
        padding: 10px 10px 10px 0;
        margin-left: 20px;

        .tit {
            @include ellipsis(1);
            font-size: 16rem;
            font-weight: 700;
            color: $black2;
        }

        .date {
            margin-top: 5px;
            font-size: 12rem;
            font-weight: 300;
            color: $black2;
        }
    }

    @include mq('desktop') {
        .imgthumb {
            flex: 0 353px;
        }

        .brd-desc {
            flex: 0 calc(100% - 393px);
            width: calc(100% - 393px);
            padding: 20px 20px 20px 0;
            margin-left: 40px;

            .tit {
                font-size: 26rem;
            }

            .date {
                margin-top: 10px;
                font-size: 20rem;
            }
        }
    }
}

.brdlist2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    & > li {
        flex: 0 calc(353 / 1140) * 100%;
        border: 1px solid $gray2;
        margin-bottom: 10px;

        & > a {
            display: block;
        }
    }

    .brd-desc {
        padding: 12px;

        .tit {
            font-size: 14rem;
            font-weight: 700;
            color: $black2;
        }

        .date {
            margin-top: 8px;
            font-size: 12rem;
            font-weight: 300;
            color: $black2;
        }

        .tag-news {
            margin-top: 5px;

            span {
                margin-right: 5px;
            }
        }

        @include mq('desktop') {
            padding: 24px;

            .tit {
                font-size: 20rem;
            }

            .date {
                margin-top: 20px;
                font-size: 18rem;
            }

            .tag-news {
                margin-top: 20px;
            }
        }
    }
}
