@font-face {
  font-family: "NanumSquare";
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareR.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareR.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareR.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareR.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "NanumSquare";
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareL.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareL.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareL.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareL.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "NanumSquar";
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareEB.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareEB.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareEB.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareEB.ttf) format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "NanumSquare";
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareB.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareB.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareB.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareB.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0; /*vertical-align:baseline;*/
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-break: keep-all;
}

html {
  height: 100vh;
  font-size: 1px;
}

body,
th,
td,
input,
select,
textarea,
button {
  font-family: "NanumSquare", sans-serif;
  color: #444;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: -0.5px;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

body {
  -webkit-text-size-adjust: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 16rem;
  font-weight: 700;
}

ol,
ul,
li,
dl,
dt,
dd {
  list-style: none outside none;
  padding: 0;
  margin: 0;
}

hr {
  display: none;
}

span {
  margin: 0;
  padding: 0;
  outline: 0;
}

fieldset,
img,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
button,
hr {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

img {
  vertical-align: middle;
}

a {
  color: #444;
  text-decoration: none;
  cursor: pointer;
}

a:active,
a:hover {
  text-decoration: none;
}

input,
select,
label {
  vertical-align: middle;
}

input,
select,
textarea,
button {
  font-size: 16rem;
  vertical-align: middle;
  padding: 0;
  margin: 0;
}

input,
textarea {
  font-family: "NanumSquare", sans-serif; /*border-radius: 0; appearance:none; -webkit-appearance:none;*/
}

button,
input[type=text],
input[type=password],
input[type=tel],
input[type=num],
input[type=button],
input[type=submit],
input[type=reset],
input[type=file] {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  border-radius: 0;
}

input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

textarea {
  resize: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
  vertical-align: middle;
}

b,
strong {
  font-weight: 700;
}

input[type=text],
input[type=password],
input[type=number],
input[type=tel],
input[type=email],
input[type=search] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

select {
  position: relative;
  display: block;
  border: 0 none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 3rem;
  background-color: transparent;
}

select::-ms-expand {
  display: none;
}

select option {
  border: 0 none;
}

sub {
  vertical-align: baseline;
  font-size: 14rem;
}

strong sub {
  font-weight: 700;
}

/* ie Control */
input::-ms-clear {
  display: none;
}

::-webkit-input-placeholder {
  /* Edge */
  color: #a8a8b8;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #a8a8b8;
}

::-moz-placeholder {
  color: #a8a8b8;
}

::-ms-input-placeholder {
  color: #a8a8b8;
}

::placeholder {
  color: #a8a8b8;
}

/* SkipNavigation */
#skipNavigation,
.skipnav {
  width: 100%;
  position: absolute;
  top: -200px;
  left: 0;
  margin: 0 auto;
  z-index: 9999;
}
#skipNavigation a,
.skipnav a {
  color: #fff;
  display: block;
  height: 35px;
  background-color: #005bab;
  text-align: center;
}
#skipNavigation a:active, #skipNavigation a:focus,
.skipnav a:active,
.skipnav a:focus {
  width: 100%;
  color: #fff;
  position: absolute;
  left: 0;
  top: 200px;
  background: #005bab;
  line-height: 35px;
  text-align: center;
  border-bottom: 1px solid #dbdbdb;
}

.skipnav {
  z-index: 5;
}

a:focus,
button:focus {
  outline: 1px dotted #000;
}

caption {
  overflow: hidden;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
}

legend,
.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  white-space: nowrap;
  clip: rect(0, 0, 0, 0);
}

.clearfix::after {
  display: block;
  clear: both;
}

#header {
  position: fixed;
  width: 100%;
  height: 42.5px;
  top: 0;
  background-color: #fff;
}
#header::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  background-image: -webkit-gradient(linear, left top, right top, from(#005bab), to(#f9b43a));
  background-image: linear-gradient(to right, #005bab, #f9b43a);
  z-index: 2;
}
#header .logo {
  display: block;
  height: 100%;
}
#header .logo a {
  display: block;
  position: relative;
  width: 97px;
  height: 100%;
  margin: auto;
}
#header .logo a span {
  font-size: 1rem;
  text-indent: -999999rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  width: 100%;
  height: 23.5px;
  background: url("../images/common/logo.svg") no-repeat;
  background-size: contain;
}
#header .head-menuBtn {
  position: absolute;
  display: block;
  width: 42.5px;
  height: 100%;
  top: 0;
}
#header .head-menuBtn::before, #header .head-menuBtn::after {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  background-color: #a8a8b8;
  border-radius: 50%;
}
#header .head-menuBtn::before {
  margin-left: -11px;
}
#header .head-menuBtn span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 1rem;
  text-indent: -999999rem;
  display: block;
  width: 8px;
  height: 8px;
  margin-left: 12rem;
}
#header .head-menuBtn span::before, #header .head-menuBtn span::after {
  content: "";
  display: block;
  position: absolute;
  width: 8px;
  height: 2px;
  top: 50%;
  left: 50%;
  margin: -1rem 0 0 -4rem;
  background-color: #005bab;
  -webkit-transition: 0.2s all linear;
  transition: 0.2s all linear;
}
#header .head-menuBtn span::before {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.mo-menuOpen #header .head-menuBtn span::before {
  opacity: 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
.mo-menuOpen #header .head-menuBtn span::after {
  background-color: #f9b43a;
}

#header .head-snsBtn {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  width: 36px;
  padding: 0 7px;
  right: 8px;
  color: #005bab;
  font-size: 12rem;
  font-weight: 700;
  line-height: 19rem;
  border: 1px solid #005bab;
  border-radius: 10px;
  text-align: center;
}

.mo-nav {
  position: fixed;
  width: 100%;
  height: calc(100vh - 42.5px);
  top: 42.5px;
}
.mo-nav .nav-wrap {
  position: relative;
  width: 256px;
  height: 100%;
  background-color: #fff;
  overflow-y: auto;
  -webkit-transition: 0.2s all linear;
  transition: 0.2s all linear;
  -webkit-transform: translateX(-256px);
          transform: translateX(-256px);
  opacity: 0;
  visibility: hidden;
  z-index: 3;
}
.mo-nav .nav-wrap .depth1 > li {
  position: relative;
  border-bottom: 1px solid #dedce5;
}
.mo-nav .nav-wrap .depth1 > li .depalpha a {
  position: relative;
  display: block;
  padding: 17rem 26rem 17rem 28rem;
  font-size: 16rem;
  font-weight: 700;
  color: #000;
  line-height: 1;
}
.mo-nav .nav-wrap .depth1 > li .depalpha a strong {
  position: relative;
  display: inline-block;
  line-height: 1;
  z-index: 1;
}
.mo-nav .nav-wrap .depth1 > li .depalpha a strong::after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 3px;
  bottom: 0;
  background-color: #f9b43a;
  -webkit-transition: 0.2s all linear;
  transition: 0.2s all linear;
  z-index: -1;
}
.mo-nav .nav-wrap .depth1 > li .depalpha a::after {
  content: "";
  position: absolute;
  display: block;
  width: 10.5px;
  height: 7px;
  top: 50%;
  right: 24rem;
  margin-top: -3.5rem;
  background: url("../images/common/ico_arr.png") no-repeat;
  background-size: contain;
  -webkit-transition: 0.2s all linear;
  transition: 0.2s all linear;
}
.mo-nav .nav-wrap .depth1 > li .depth2 {
  padding: 5.5rem 0;
  background-color: #efeff6;
  border-top: 1px solid #dedce5;
}
.mo-nav .nav-wrap .depth1 > li .depth2 > li > a {
  display: block;
  padding: 13rem 10rem 13rem 30rem;
  font-size: 14rem;
  font-weight: 700;
  color: #000;
  line-height: 1;
}
.mo-nav .nav-wrap .depth1 > li .depth2 > li > a span {
  position: relative;
  display: inline-block;
  line-height: 1;
}
.mo-nav .nav-wrap .depth1 > li .depth2 > li > a span::before {
  content: "+";
  display: inline-block;
  margin-right: 4rem;
  font-size: 14rem;
  font-weight: 700;
  color: #f9b43a;
  line-height: 1;
}
.mo-nav .nav-wrap .depth1 > li.active .depalpha a::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.mo-nav .nav-wrap .depth1 > li.active .depalpha a strong::after {
  width: 100%;
}
.mo-nav .mofix-shadow {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.2s all linear;
  transition: 0.2s all linear;
  z-index: 1;
}
.mo-nav .mofix-shadow .mo-btnClose {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 40px;
  height: 40px;
  left: 266px;
}
.mo-nav .mofix-shadow .mo-btnClose span {
  font-size: 1rem;
  text-indent: -999999rem;
  display: block;
  width: 20px;
  height: 20px;
  margin: auto;
  background: url("../images/common/btn_close.png") no-repeat;
  background-size: contain;
}
.mo-menuOpen .nav-wrap {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.mo-menuOpen .mofix-shadow {
  opacity: 1;
  visibility: visible;
}