@font-face {
  font-family: "NanumSquare";
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareR.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareR.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareR.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareR.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "NanumSquare";
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareL.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareL.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareL.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareL.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "NanumSquare";
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareEB.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareEB.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareEB.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareEB.ttf) format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "NanumSquare";
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareB.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareB.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareB.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareB.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0; /*vertical-align:baseline;*/
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-break: keep-all;
}

html {
  height: 100vh;
  font-size: 1px;
}

body,
th,
td,
input,
select,
textarea,
button {
  font-family: "NanumSquare", sans-serif;
  color: #444;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: -0.5px;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

body {
  -webkit-text-size-adjust: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 16rem;
  font-weight: 700;
}

ol,
ul,
li,
dl,
dt,
dd {
  list-style: none outside none;
  padding: 0;
  margin: 0;
}

hr {
  display: none;
}

span {
  margin: 0;
  padding: 0;
  outline: 0;
}

fieldset,
img,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
button,
hr {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

img {
  vertical-align: middle;
}

a {
  color: #444;
  text-decoration: none;
  cursor: pointer;
}

a:active,
a:hover {
  text-decoration: none;
}

input,
select,
label {
  vertical-align: middle;
}

input,
select,
textarea,
button {
  font-size: 16rem;
  vertical-align: middle;
  padding: 0;
  margin: 0;
}

input,
textarea {
  font-family: "NanumSquare", sans-serif; /*border-radius: 0; appearance:none; -webkit-appearance:none;*/
}

button,
input[type=text],
input[type=password],
input[type=tel],
input[type=num],
input[type=button],
input[type=submit],
input[type=reset],
input[type=file] {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  border-radius: 0;
}

input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

textarea {
  resize: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
  vertical-align: middle;
}

b,
strong {
  font-weight: 700;
}

input[type=text],
input[type=password],
input[type=number],
input[type=tel],
input[type=email],
input[type=search] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

select {
  position: relative;
  display: block;
  border: 0 none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 3rem;
  background-color: transparent;
}

select::-ms-expand {
  display: none;
}

select option {
  border: 0 none;
}

sub {
  vertical-align: baseline;
  font-size: 14rem;
}

strong sub {
  font-weight: 700;
}

/* ie Control */
input::-ms-clear {
  display: none;
}

::-webkit-input-placeholder {
  /* Edge */
  color: #a8a8b8;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #a8a8b8;
}

::-moz-placeholder {
  color: #a8a8b8;
}

::-ms-input-placeholder {
  color: #a8a8b8;
}

::placeholder {
  color: #a8a8b8;
}

/* SkipNavigation */
#skipNavigation,
.skipnav {
  width: 100%;
  position: absolute;
  top: -200px;
  left: 0;
  margin: 0 auto;
  z-index: 9999;
}
#skipNavigation a,
.skipnav a {
  color: #fff;
  display: block;
  height: 35px;
  background-color: #005bab;
  text-align: center;
}
#skipNavigation a:active, #skipNavigation a:focus,
.skipnav a:active,
.skipnav a:focus {
  width: 100%;
  color: #fff;
  position: absolute;
  left: 0;
  top: 200px;
  background: #005bab;
  line-height: 35px;
  text-align: center;
  border-bottom: 1px solid #dbdbdb;
}

.skipnav {
  z-index: 5;
}

a:focus,
button:focus {
  outline: 1px dotted #000;
}

caption {
  overflow: hidden;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
}

legend,
.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  white-space: nowrap;
  clip: rect(0, 0, 0, 0);
}

.clearfix::after {
  display: block;
  clear: both;
}

#header {
  position: fixed;
  width: 100%;
  height: 42.5px;
  top: 0;
  background-color: #fff;
  z-index: 10;
}
#header::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  background-image: -webkit-gradient(linear, left top, right top, from(#005bab), to(#f9b43a));
  background-image: linear-gradient(to right, #005bab, #f9b43a);
  z-index: 2;
}
#header .logo {
  display: block;
  height: 100%;
}
#header .logo a {
  display: block;
  position: relative;
  width: 97px;
  height: 100%;
  margin: auto;
}
#header .logo a span {
  font-size: 1rem;
  text-indent: -999999rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  width: 100%;
  height: 23.5px;
  background-image: url("../images/common/logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
#header .head-menuBtn {
  position: absolute;
  display: block;
  width: 42.5px;
  height: 100%;
  top: 0;
}
@media screen and (min-width: 1120px) {
  #header .head-menuBtn {
    display: none;
  }
}
#header .head-menuBtn::before, #header .head-menuBtn::after {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  background-color: #a8a8b8;
  border-radius: 50%;
}
#header .head-menuBtn::before {
  margin-left: -11px;
}
#header .head-menuBtn span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 1rem;
  text-indent: -999999rem;
  display: block;
  width: 8px;
  height: 8px;
  margin-left: 12rem;
}
#header .head-menuBtn span::before, #header .head-menuBtn span::after {
  content: "";
  display: block;
  position: absolute;
  width: 8px;
  height: 2px;
  top: 50%;
  left: 50%;
  margin: -1rem 0 0 -4rem;
  background-color: #005bab;
  -webkit-transition: 0.2s all linear;
  transition: 0.2s all linear;
}
#header .head-menuBtn span::before {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.mo-menuOpen #header .head-menuBtn span::before {
  opacity: 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
.mo-menuOpen #header .head-menuBtn span::after {
  background-color: #f9b43a;
}

#header .head-snsBtn {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  width: 36px;
  padding: 0 7px;
  right: 8px;
  color: #005bab;
  font-size: 12rem;
  font-weight: 700;
  line-height: 19rem;
  border: 1px solid #005bab;
  border-radius: 10px;
  text-align: center;
}
@media screen and (min-width: 1120px) {
  #header .head-snsBtn {
    width: 48px;
    height: 24px;
    right: 24px;
    font-size: 18rem;
    color: #fff;
    line-height: 24px;
    text-align: center;
    background-color: #2f77c9;
    border: none;
    border-radius: 6px;
    z-index: 3;
  }
}
@media screen and (min-width: 1120px) {
  #header {
    height: 85px;
    background-color: transparent;
    -webkit-transition: 0.2s all linear;
    transition: 0.2s all linear;
  }
  #header::after {
    display: none;
  }
  #header .logo {
    position: relative;
    width: 198px;
    height: 48px;
    margin: 19px 0 0 24px;
    z-index: 3;
  }
  #header .logo a {
    width: 100%;
    height: 100%;
    margin: 0;
  }
  #header .logo a span {
    height: 100%;
    background-image: url("../images/common/logo_w.svg");
  }
  .fx #header {
    background-color: #fff;
  }
  .fx #header .logo a span {
    background-image: url("../images/common/logo.svg");
  }
  .gnbopen #header .logo a span {
    background-image: url("../images/common/logo.svg");
  }
}

.mo-nav {
  position: fixed;
  width: 100%;
  height: calc(100vh - 42.5px);
  top: 42.5px;
  visibility: hidden;
  opacity: 0;
  z-index: 0;
}
@media screen and (min-width: 1120px) {
  .mo-nav {
    display: none;
  }
}
.mo-nav .nav-wrap {
  position: relative;
  width: 256px;
  height: 100%;
  background-color: #fff;
  overflow-y: auto;
  -webkit-transition: 0.2s all linear;
  transition: 0.2s all linear;
  -webkit-transform: translateX(-256px);
          transform: translateX(-256px);
  opacity: 0;
  visibility: hidden;
  z-index: 3;
}
.mo-nav .nav-wrap .depth1 > li {
  position: relative;
  border-bottom: 1px solid #dedce5;
}
.mo-nav .nav-wrap .depth1 > li .depalpha a {
  position: relative;
  display: block;
  padding: 17rem 26rem 17rem 28rem;
  font-size: 16rem;
  font-weight: 700;
  color: #000;
  line-height: 1;
}
.mo-nav .nav-wrap .depth1 > li .depalpha a strong {
  position: relative;
  display: inline-block;
  line-height: 1;
  z-index: 1;
}
.mo-nav .nav-wrap .depth1 > li .depalpha a strong::after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 3px;
  bottom: 0;
  background-color: #f9b43a;
  -webkit-transition: 0.2s all linear;
  transition: 0.2s all linear;
  z-index: -1;
}
.mo-nav .nav-wrap .depth1 > li .depalpha a::after {
  content: "";
  position: absolute;
  display: block;
  width: 10.5px;
  height: 7px;
  top: 50%;
  right: 24rem;
  margin-top: -3.5rem;
  background: url("../images/common/ico_arr.png") no-repeat;
  background-size: contain;
  -webkit-transition: 0.2s all linear;
  transition: 0.2s all linear;
}
.mo-nav .nav-wrap .depth1 > li .depth2 {
  padding: 5.5rem 0;
  background-color: #efeff6;
  border-top: 1px solid #dedce5;
}
.mo-nav .nav-wrap .depth1 > li .depth2 > li > a {
  display: block;
  padding: 13rem 10rem 13rem 30rem;
  font-size: 14rem;
  font-weight: 700;
  color: #000;
  line-height: 1;
}
.mo-nav .nav-wrap .depth1 > li .depth2 > li > a span {
  position: relative;
  display: inline-block;
  line-height: 1;
}
.mo-nav .nav-wrap .depth1 > li .depth2 > li > a span::before {
  content: "+";
  display: inline-block;
  margin-right: 4rem;
  font-size: 14rem;
  font-weight: 700;
  color: #f9b43a;
  line-height: 1;
}
.mo-nav .nav-wrap .depth1 > li.active .depalpha a::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.mo-nav .nav-wrap .depth1 > li.active .depalpha a strong::after {
  width: 100%;
}
.mo-nav .mofix-shadow {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.2s all linear;
  transition: 0.2s all linear;
  z-index: 1;
}
.mo-nav .mofix-shadow .mo-btnClose {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 40px;
  height: 40px;
  left: 266px;
}
.mo-nav .mofix-shadow .mo-btnClose span {
  font-size: 1rem;
  text-indent: -999999rem;
  display: block;
  width: 20px;
  height: 20px;
  margin: auto;
  background: url("../images/common/btn_close.png") no-repeat;
  background-size: contain;
}
.mo-menuOpen .mo-nav {
  opacity: 1;
  visibility: visible;
  z-index: 9;
}
.mo-menuOpen .mo-nav .nav-wrap {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.mo-menuOpen .mo-nav .mofix-shadow {
  opacity: 1;
  visibility: visible;
}

.gnb {
  display: none;
  position: absolute;
  width: 100%;
  height: 85px;
  top: 0;
  overflow: hidden;
  -webkit-transition: 0.2s all linear;
  transition: 0.2s all linear;
  z-index: 2;
}
@media screen and (min-width: 1120px) {
  .gnb {
    display: block;
  }
}
.gnb .nav-pcwrap {
  width: 75%;
  max-width: 830px;
  height: auto;
  margin: auto 7.3113207547% auto auto;
  text-align: center;
}
.gnb .nav-pcwrap .depth1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.gnb .nav-pcwrap .depth1 > li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 5px;
  letter-spacing: -1px;
}
.gnb .nav-pcwrap .depth1 > li .depalpha a {
  display: block;
  height: 85px;
  font-size: 16rem;
  color: #fff;
  line-height: 85px;
}
.gnb .nav-pcwrap .depth1 > li .depalpha a strong {
  display: inline-block;
  position: relative;
  line-height: 1.2;
}
.gnb .nav-pcwrap .depth1 > li .depalpha a strong::before {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  bottom: 0;
  height: 6px;
  background-color: #f9b43a;
  -webkit-transition: 0.2s all linear;
  transition: 0.2s all linear;
  z-index: -1;
}
.fx .gnb .nav-pcwrap .depth1 > li .depalpha a {
  color: #222;
}

.gnb .nav-pcwrap .depth1 > li:hover .depalpha a strong::before {
  width: 100%;
}
.gnb .nav-pcwrap .depth1 > li .depth2 > li {
  margin-bottom: 18px;
  line-height: 1.1;
}
.gnb .nav-pcwrap .depth1 > li .depth2 > li a {
  font-size: 14rem;
  color: #222;
}
.gnb .nav-pcwrap .depth1 > li.current .depalpha a strong::before {
  width: 100%;
}
@media screen and (min-width: 1470px) {
  .gnb .nav-pcwrap {
    max-width: 1430px;
    margin: auto 7.3113207547% auto auto;
  }
  .gnb .nav-pcwrap .depth1 > li {
    margin: 0 10px;
  }
  .gnb .nav-pcwrap .depth1 > li .depalpha a {
    font-size: 20rem;
  }
  .gnb .nav-pcwrap .depth1 > li .depth2 > li a {
    font-size: 16rem;
  }
}
.gnb .gnbclose {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.2s all linear 0.2s;
  transition: 0.2s all linear 0.2s;
}
.gnbopen .gnb {
  background-color: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 12px;
          box-shadow: rgba(0, 0, 0, 0.2) 0 0 12px;
}
.gnbopen .gnb .nav-pcwrap .depth1 > li .depalpha a {
  color: #222;
}
.gnbopen .gnb .gnbclose {
  display: block;
  position: absolute;
  width: 33px;
  height: 32px;
  bottom: 24px;
  right: 21px;
  opacity: 1;
  visibility: visible;
  background: url("../images/common/gnb_close.svg") no-repeat;
  background-size: contain;
}
.gnbopen .gnb .gnbclose span {
  font-size: 1rem;
  text-indent: -999999rem;
  display: block;
}

.main-viswrap {
  height: calc(100vh - 42px);
  margin-top: 42.5px;
}
.main-viswrap .item {
  position: relative;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (min-width: 1120px) {
  .main-viswrap .item::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 40vh;
    top: 0;
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0)), to(black));
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0), black);
  }
}
.main-viswrap .item .itemimg {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
}
.main-viswrap .item .itemimg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-viswrap .item .item-inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding: 0 20px;
  text-align: center;
  z-index: 2;
}
.main-viswrap .item .item-inner .inw {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  -ms-flex-item-align: center;
      align-self: center;
}
.main-viswrap .item .item-inner .inw .tit {
  color: #fff;
  margin-bottom: 12px;
  font-size: 44rem;
  font-weight: 900;
  text-shadow: rgba(0, 0, 0, 0.5) 3px 3px 8px;
}
.main-viswrap .item .item-inner .inw .intext {
  color: #fff;
  font-size: 16rem;
  text-shadow: rgba(0, 0, 0, 0.5) 3px 3px 8px;
}
.main-viswrap .item .item-inner .inw .btns {
  margin-top: 25px;
}
.main-viswrap .item .item-inner .inw .btns a {
  display: inline-block;
  width: 100%;
  height: 38px;
  color: #2f77c9;
  font-size: 16rem;
  font-weight: 700;
  line-height: 38px;
  border-radius: 20px;
  background-color: #fff;
}
.main-viswrap .item .item-inner .inw .btns a.bt-blue {
  color: #fff;
  background-color: #2f77c9;
}
.main-viswrap .item .item-inner .inw .btns a + a {
  margin-top: 12px;
}
@media screen and (min-width: 768px) {
  .main-viswrap .item .item-inner .inw .btns a {
    width: 500px;
  }
}
@media screen and (min-width: 1120px) {
  .main-viswrap .item .item-inner .inw .btns {
    margin-top: 60px;
  }
  .main-viswrap .item .item-inner .inw .btns a {
    width: 340px;
    height: 72px;
    font-size: 28rem;
    line-height: 72px;
    border-radius: 40px;
  }
  .main-viswrap .item .item-inner .inw .btns a + a {
    margin: 0 0 0 68px;
  }
}
.main-viswrap .video-container {
  position: relative;
  height: 100%;
}
.main-viswrap .video-container video {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: auto;
  height: 100%;
}
@media screen and (min-width: 1120px) {
  .main-viswrap .video-container video {
    width: 100%;
    height: auto;
  }
}
.main-viswrap .control-area {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 103px;
  height: 33px;
  bottom: 32px;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0px 3px 7px 0 rgba(0, 0, 0, 0.35);
          box-shadow: 0px 3px 7px 0 rgba(0, 0, 0, 0.35);
  border-radius: 20px;
  z-index: 5;
}
.main-viswrap .control-area .swiper-pagination {
  color: #fff;
  width: 40%;
  font-size: 12rem;
  left: 0;
  top: 50%;
  line-height: 1;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media screen and (min-width: 1120px) {
  .main-viswrap .control-area .swiper-pagination {
    font-size: 18px;
    left: 18px;
    width: 40px;
    letter-spacing: -1.5px;
  }
}
.main-viswrap .control-area .swiper-button-prev,
.main-viswrap .control-area .swiper-button-next {
  width: 10px;
  height: 17px;
  margin-top: -8.5px;
  background-repeat: no-repeat;
  background-size: contain;
}
.main-viswrap .control-area .swiper-button-prev:after,
.main-viswrap .control-area .swiper-button-next:after {
  display: none;
}
.main-viswrap .control-area .swiper-button-prev {
  left: 45px;
  background-image: url("../images/common/sld_prev_1.png");
}
@media screen and (min-width: 1120px) {
  .main-viswrap .control-area .swiper-button-prev {
    left: 88px;
  }
}
.main-viswrap .control-area .swiper-button-next {
  right: 8px;
  background-image: url("../images/common/sld_next_1.png");
}
@media screen and (min-width: 1120px) {
  .main-viswrap .control-area .swiper-button-next {
    right: 27px;
  }
}
.main-viswrap .control-area .swiper-play {
  position: absolute;
  width: 14px;
  height: 14px;
  top: 50%;
  margin-top: -7px;
  right: 25px;
}
.main-viswrap .control-area .swiper-play .btn_pause {
  display: block;
  width: 14px;
  height: 14px;
  overflow: hidden;
}
.main-viswrap .control-area .swiper-play .btn_pause span {
  display: block;
  height: 100%;
  background-image: url("../images/common/sld_stop_1.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.main-viswrap .control-area .swiper-play .btn_pause.on span {
  margin: auto;
  background-image: url("../images/common/sld_play_1.png");
}
@media screen and (min-width: 1120px) {
  .main-viswrap .control-area .swiper-play {
    width: 16px;
    height: 16px;
    margin-top: -8px;
    right: 58px;
  }
}
@media screen and (min-width: 1120px) {
  .main-viswrap {
    height: 100vh;
    margin-top: 0;
  }
  .main-viswrap .item .item-inner {
    padding: 0 40px;
  }
  .main-viswrap .item .item-inner .inw .tit {
    margin-bottom: 25px;
    font-size: 100rem;
  }
  .main-viswrap .item .item-inner .inw .intext {
    font-size: 28rem;
  }
  .main-viswrap .control-area {
    width: 194px;
    height: 53px;
    bottom: 64px;
    border-radius: 30px;
  }
}

.main-sect01 {
  padding: 26px 30px;
  background-color: #f7f7fc;
}
.main-sect01 .btn-st {
  display: block;
  width: 28px;
  height: 28px;
  margin: 12px auto 0;
  text-align: center;
  background-color: #005bab;
  border-radius: 50%;
  overflow: hidden;
}
.main-sect01 .btn-st .icoplus {
  display: block;
  width: 12px;
  height: 12px;
  margin: 8px auto;
  background: url("../images/common/ico_plus03.png") no-repeat;
  background-size: contain;
}
.main-sect01 .btn-st .text {
  display: none;
}
@media screen and (min-width: 1120px) {
  .main-sect01 {
    padding: 65px 40px 70px;
  }
  .main-sect01 .btn-st {
    width: 156px;
    height: 46px;
    margin-top: 45px;
    padding: 0 10px;
    line-height: 44px;
    border-radius: 25px;
  }
  .main-sect01 .btn-st .icoplus {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin: 0 4px 0 0;
  }
  .main-sect01 .btn-st .text {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    font-size: 20rem;
  }
  .main-sect01 .btn-st.type2 {
    width: 46px;
    height: 46px;
    overflow: hidden;
  }
  .main-sect01 .btn-st.type2 .icoplus {
    display: block;
    margin: 13px auto;
  }
}

.main-sect02 {
  padding-top: 26px;
  padding-bottom: 26px;
}
@media screen and (min-width: 1120px) {
  .main-sect02 {
    padding-top: 75px;
    padding-bottom: 75px;
  }
}

.masect-tit {
  margin-bottom: 12px;
  font-size: 22rem;
  font-weight: 900;
  color: #005bab;
  text-align: center;
}
@media screen and (min-width: 1120px) {
  .masect-tit {
    margin-bottom: 35px;
    font-size: 40rem;
  }
}

.masect-ment1 {
  font-size: 14rem;
  text-align: center;
}
@media screen and (min-width: 1120px) {
  .masect-ment1 {
    font-size: 20rem;
  }
}

.main-inner {
  padding-left: 30px;
  padding-right: 30px;
}
@media screen and (min-width: 1120px) {
  .main-inner {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1120px) {
  .main-inner2 {
    max-width: 1140px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
  }
}

.main-thumbitem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main-thumbitem > li {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  margin-top: 15px;
}
.main-thumbitem > li > a {
  display: block;
}
@media screen and (max-width: 1119px) {
  .main-thumbitem > li:nth-of-type(n + 4) {
    display: none;
  }
}
@media screen and (min-width: 1120px) {
  .main-thumbitem > li {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 48.3333333333%;
            flex: 0 0 48.3333333333%;
    margin-top: 40px;
  }
  .main-thumbitem > li.mali1 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .main-thumbitem > li.mali1 .item-thumb figcaption {
    position: absolute;
    left: 33px;
    bottom: 30px;
  }
  .main-thumbitem > li.mali1 .item-thumb figcaption h4,
.main-thumbitem > li.mali1 .item-thumb figcaption p {
    font-size: 20rem;
    font-weight: 400;
    color: #fff;
  }
}
.main-thumbitem .item-thumb {
  position: relative;
}
.main-thumbitem .item-thumb .item-img {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}
.main-thumbitem .item-thumb .item-img img {
  width: 100%;
}
.main-thumbitem .item-thumb .item-img .movie-play {
  position: absolute;
  width: 36px;
  height: 36px;
  right: 8px;
  bottom: 8px;
  background: url("../images/common/bt_play.png") no-repeat;
  background-size: contain;
}
.main-thumbitem .item-thumb figcaption {
  margin-top: 6px;
}
.main-thumbitem .item-thumb figcaption h4 {
  font-size: 14rem;
  color: #005bab;
}
.main-thumbitem .item-thumb figcaption p {
  margin-top: 2px;
  font-size: 12rem;
}
@media screen and (min-width: 1120px) {
  .main-thumbitem .item-thumb .item-img {
    border-radius: 24px;
  }
  .main-thumbitem .item-thumb .item-img .movie-play {
    width: 46px;
    height: 46px;
    right: 32px;
    bottom: 32px;
  }
  .main-thumbitem .item-thumb figcaption h4 {
    font-size: 22rem;
  }
  .main-thumbitem .item-thumb figcaption p {
    font-size: 18rem;
  }
}

.main-programWrap .item .itemimg {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}
.main-programWrap .item .itemimg img {
  width: 100%;
}
.main-programWrap .item .itemimg .intext {
  position: absolute;
  top: 8px;
  left: 8px;
  color: #fff;
}
.main-programWrap .item .itemimg .intext .tit {
  font-weight: 700;
  font-size: 20rem;
}
.main-programWrap .item .itemimg .intext .tit span {
  font-size: 12rem;
}
.main-programWrap .item .itemimg .intext .name {
  font-size: 12rem;
}
@media screen and (min-width: 1120px) {
  .main-programWrap .item .itemimg {
    border-radius: 24px;
  }
  .main-programWrap .item .itemimg .intext {
    top: 30px;
    left: 32px;
  }
  .main-programWrap .item .itemimg .intext .tit {
    font-size: 32rem;
  }
  .main-programWrap .item .itemimg .intext .tit span {
    font-size: 20rem;
  }
  .main-programWrap .item .itemimg .intext .name {
    font-size: 20rem;
  }
}
.main-programWrap .item .btmtext {
  margin-top: 5px;
}
.main-programWrap .item .btmtext p {
  font-size: 12rem;
}
@media screen and (min-width: 1120px) {
  .main-programWrap .item .btmtext {
    margin-top: 18px;
  }
  .main-programWrap .item .btmtext p {
    min-height: 81px;
    font-size: 18rem;
  }
}

.sldbtn-wrap {
  margin-top: 12px;
  text-align: center;
}
.sldbtn-wrap .sldbtn {
  display: inline-block;
  height: 25px;
  padding: 0 20px;
  line-height: 25px;
  font-size: 12rem;
  text-align: center;
  border-radius: 13px;
  background-color: #cecedc;
}
.sldbtn-wrap .sldbtn + .sldbtn {
  margin-left: 8px;
}
.sldbtn-wrap .sldbtn.bluebtn {
  color: #fff;
  background-color: #005bab;
}
@media screen and (min-width: 1120px) {
  .sldbtn-wrap {
    margin-top: 16px;
    text-align: left;
  }
  .sldbtn-wrap .sldbtn {
    height: 28px;
    line-height: 28px;
    font-size: 18rem;
  }
}

.sw-prg {
  position: relative;
}
.sw-prg .control-area2 {
  position: absolute;
  width: 100%;
  top: 25%;
}
.sw-prg .control-area2 .swiper-button-prev2,
.sw-prg .control-area2 .swiper-button-next2 {
  position: absolute;
  width: 25px;
  height: 25px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.sw-prg .control-area2 .swiper-button-prev2::after,
.sw-prg .control-area2 .swiper-button-next2::after {
  display: none;
}
.sw-prg .control-area2 .swiper-button-prev2.swiper-button-disabled,
.sw-prg .control-area2 .swiper-button-next2.swiper-button-disabled {
  opacity: 0.35;
}
.sw-prg .control-area2 .swiper-button-prev2 {
  left: -28px;
  background-image: url("../images/common/sld_prev.svg");
}
.sw-prg .control-area2 .swiper-button-next2 {
  right: -28px;
  background-image: url("../images/common/sld_next.svg");
}
.sw-prg .control-area2 .swiper-pagination2 {
  display: none;
}
@media screen and (min-width: 1120px) {
  .sw-prg .control-area2 {
    top: 30%;
    height: 57px;
  }
  .sw-prg .control-area2 .swiper-button-prev2,
.sw-prg .control-area2 .swiper-button-next2 {
    width: 57px;
    height: 57px;
  }
  .sw-prg .control-area2 .swiper-button-prev2 {
    left: -88px;
  }
  .sw-prg .control-area2 .swiper-button-next2 {
    right: -88px;
  }
  .sw-prg .control-area2 .swiper-pagination2 {
    display: block;
    position: absolute;
    width: auto;
    top: -184px;
    right: 0;
    left: auto;
    bottom: auto;
    color: transparent;
  }
  .sw-prg .control-area2 .swiper-pagination2 .swiper-pagination-current {
    display: inline-block;
    height: 24px;
    padding: 0 10px;
    font-size: 20rem;
    color: #fff;
    text-align: center;
    line-height: 24px;
    background-color: #a8a8b8;
    border-radius: 12px;
  }
  .sw-prg .control-area2 .swiper-pagination2 .swiper-pagination-total {
    color: #444;
    font-size: 20rem;
  }
}

.main-thumbitem2 .ma-imgfig .item-img {
  border-radius: 12px;
  overflow: hidden;
}
.main-thumbitem2 .ma-imgfig .item-img img {
  width: 100%;
}
.main-thumbitem2 .ma-imgfig figcaption {
  margin-top: 8px;
}
.main-thumbitem2 .ma-imgfig figcaption .tit {
  display: none;
}
.main-thumbitem2 .ma-imgfig figcaption .desc {
  font-size: 12rem;
}
@media screen and (min-width: 1120px) {
  .main-thumbitem2 .ma-imgfig {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main-thumbitem2 .ma-imgfig .item-img {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 550px;
            flex: 1 1 550px;
    max-width: 550px;
    border-radius: 24px;
  }
  .main-thumbitem2 .ma-imgfig .item-img img {
    max-width: 550px;
  }
  .main-thumbitem2 .ma-imgfig figcaption {
    margin: 0 0 0 40px;
  }
  .main-thumbitem2 .ma-imgfig figcaption .tit {
    display: block;
    font-weight: 700;
    font-size: 26px;
  }
  .main-thumbitem2 .ma-imgfig figcaption .desc {
    margin-top: 10px;
    font-size: 18rem;
  }
}

.main-thumbitem3 .ma-imgfig .item-img img {
  width: 100%;
}
.main-thumbitem3 .ma-imgfig figcaption {
  margin-top: 8px;
}
.main-thumbitem3 .ma-imgfig figcaption .desc {
  font-size: 12rem;
  text-align: center;
}
@media screen and (min-width: 1120px) {
  .main-thumbitem3 .ma-imgfig figcaption {
    margin-top: 25px;
  }
  .main-thumbitem3 .ma-imgfig figcaption .desc {
    font-size: 20rem;
  }
}