@font-face {
  font-family: "NanumSquare";
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareR.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareR.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareR.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareR.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "NanumSquare";
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareL.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareL.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareL.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareL.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "NanumSquare";
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareEB.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareEB.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareEB.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareEB.ttf) format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "NanumSquare";
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareB.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareB.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareB.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareB.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0; /*vertical-align:baseline;*/
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-break: keep-all;
}

html {
  height: 100vh;
  font-size: 1px;
}

body,
th,
td,
input,
select,
textarea,
button {
  font-family: "NanumSquare", sans-serif;
  color: #444;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: -0.5px;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

body {
  -webkit-text-size-adjust: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 16rem;
  font-weight: 700;
}

ol,
ul,
li,
dl,
dt,
dd {
  list-style: none outside none;
  padding: 0;
  margin: 0;
}

hr {
  display: none;
}

span {
  margin: 0;
  padding: 0;
  outline: 0;
}

fieldset,
img,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
button,
hr {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

img {
  vertical-align: middle;
}

a {
  color: #444;
  text-decoration: none;
  cursor: pointer;
}

a:active,
a:hover {
  text-decoration: none;
}

input,
select,
label {
  vertical-align: middle;
}

input,
select,
textarea,
button {
  font-size: 16rem;
  vertical-align: middle;
  padding: 0;
  margin: 0;
}

input,
textarea {
  font-family: "NanumSquare", sans-serif; /*border-radius: 0; appearance:none; -webkit-appearance:none;*/
}

button,
input[type=text],
input[type=password],
input[type=tel],
input[type=num],
input[type=button],
input[type=submit],
input[type=reset],
input[type=file] {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  border-radius: 0;
}

input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

textarea {
  resize: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
  vertical-align: middle;
}

b,
strong {
  font-weight: 700;
}

input[type=text],
input[type=password],
input[type=number],
input[type=tel],
input[type=email],
input[type=search] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

select {
  position: relative;
  display: block;
  border: 0 none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 3rem;
  background-color: transparent;
}

select::-ms-expand {
  display: none;
}

select option {
  border: 0 none;
}

sub {
  vertical-align: baseline;
  font-size: 14rem;
}

strong sub {
  font-weight: 700;
}

/* ie Control */
input::-ms-clear {
  display: none;
}

::-webkit-input-placeholder {
  /* Edge */
  color: #a8a8b8;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #a8a8b8;
}

::-moz-placeholder {
  color: #a8a8b8;
}

::-ms-input-placeholder {
  color: #a8a8b8;
}

::placeholder {
  color: #a8a8b8;
}

/* SkipNavigation */
#skipNavigation,
.skipnav {
  width: 100%;
  position: absolute;
  top: -200px;
  left: 0;
  margin: 0 auto;
  z-index: 9999;
}
#skipNavigation a,
.skipnav a {
  color: #fff;
  display: block;
  height: 35px;
  background-color: #005bab;
  text-align: center;
}
#skipNavigation a:active, #skipNavigation a:focus,
.skipnav a:active,
.skipnav a:focus {
  width: 100%;
  color: #fff;
  position: absolute;
  left: 0;
  top: 200px;
  background: #005bab;
  line-height: 35px;
  text-align: center;
  border-bottom: 1px solid #dbdbdb;
}

.skipnav {
  z-index: 5;
}

a:focus,
button:focus {
  outline: 1px dotted #000;
}

caption {
  overflow: hidden;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
}

legend,
.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  white-space: nowrap;
  clip: rect(0, 0, 0, 0);
}

.clearfix::after {
  display: block;
  clear: both;
}

img {
  width: 100%;
}

@-webkit-keyframes backLoop {
  0% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 50%;
  }
}

@keyframes backLoop {
  0% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 50%;
  }
}
#header {
  position: fixed;
  width: 100%;
  height: 42.5px;
  top: 0;
  background-color: #fff;
  z-index: 10;
}
#header::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  background: -webkit-gradient(linear, left top, right top, from(#005bab), to(#f9b43a));
  background: linear-gradient(to right, #005bab, #f9b43a);
  background-size: 200% 200%;
  -webkit-animation: backLoop 12s ease infinite;
          animation: backLoop 12s ease infinite;
  z-index: 2;
}
#header .logo {
  display: block;
  height: 100%;
}
#header .logo a {
  display: block;
  position: relative;
  width: 97px;
  height: 100%;
  margin: auto;
}
#header .logo a span {
  font-size: 1rem;
  text-indent: -999999rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  width: 100%;
  height: 23.5px;
  background-image: url("../images/common/logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
#header .head-menuBtn {
  position: absolute;
  display: block;
  width: 42.5px;
  height: 100%;
  top: 0;
}
@media screen and (min-width: 1120px) {
  #header .head-menuBtn {
    display: none;
  }
}
#header .head-menuBtn::before, #header .head-menuBtn::after {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  background-color: #a8a8b8;
  border-radius: 50%;
}
#header .head-menuBtn::before {
  margin-left: -11px;
}
#header .head-menuBtn span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 1rem;
  text-indent: -999999rem;
  display: block;
  width: 8px;
  height: 8px;
  margin-left: 12rem;
}
#header .head-menuBtn span::before, #header .head-menuBtn span::after {
  content: "";
  display: block;
  position: absolute;
  width: 8px;
  height: 2px;
  top: 50%;
  left: 50%;
  margin: -1rem 0 0 -4rem;
  background-color: #005bab;
  -webkit-transition: 0.2s all linear;
  transition: 0.2s all linear;
}
#header .head-menuBtn span::before {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.mo-menuOpen #header .head-menuBtn span::before {
  opacity: 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
.mo-menuOpen #header .head-menuBtn span::after {
  background-color: #f9b43a;
}

#header .head-snsBtn {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  width: 36px;
  padding: 0 7px;
  right: 8px;
  color: #005bab;
  font-size: 12rem;
  font-weight: 700;
  line-height: 19rem;
  border: 1px solid #005bab;
  border-radius: 10px;
  text-align: center;
}
@media screen and (min-width: 1120px) {
  #header .head-snsBtn {
    width: 48px;
    height: 24px;
    right: 24px;
    font-size: 18rem;
    color: #fff;
    line-height: 24px;
    text-align: center;
    background-color: #2f77c9;
    border: none;
    border-radius: 6px;
    z-index: 3;
  }
}
@media screen and (min-width: 1120px) {
  #header {
    height: 85px;
    background-color: transparent;
    -webkit-transition: 0.2s all linear;
    transition: 0.2s all linear;
  }
  #header::after {
    display: none;
  }
  #header .logo {
    position: relative;
    width: 198px;
    height: 48px;
    margin: 19px 0 0 24px;
    z-index: 3;
  }
  #header .logo a {
    width: 100%;
    height: 100%;
    margin: 0;
  }
  #header .logo a span {
    height: 100%;
    background-image: url("../images/common/logo_w.svg");
  }
  .fx #header {
    background-color: #fff;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 12px;
            box-shadow: rgba(0, 0, 0, 0.2) 0 0 12px;
  }
  .fx #header .logo a span {
    background-image: url("../images/common/logo.svg");
  }
  .gnbopen #header .logo a span {
    background-image: url("../images/common/logo.svg");
  }
}

.mo-nav {
  position: fixed;
  width: 100%;
  height: calc(100vh - 42.5px);
  top: 42.5px;
  visibility: hidden;
  opacity: 0;
  z-index: 0;
}
@media screen and (min-width: 1120px) {
  .mo-nav {
    display: none;
  }
}
.mo-nav .nav-wrap {
  position: relative;
  width: 256px;
  height: 100%;
  background-color: #fff;
  overflow-y: auto;
  -webkit-transition: 0.2s all linear;
  transition: 0.2s all linear;
  -webkit-transform: translateX(-256px);
          transform: translateX(-256px);
  opacity: 0;
  visibility: hidden;
  z-index: 3;
}
.mo-nav .nav-wrap .depth1 > li {
  position: relative;
  border-bottom: 1px solid #dedce5;
}
.mo-nav .nav-wrap .depth1 > li .depalpha a {
  position: relative;
  display: block;
  padding: 17rem 26rem 17rem 28rem;
  font-size: 16rem;
  font-weight: 700;
  color: #000;
  line-height: 1;
}
.mo-nav .nav-wrap .depth1 > li .depalpha a strong {
  position: relative;
  display: inline-block;
  line-height: 1;
  z-index: 1;
}
.mo-nav .nav-wrap .depth1 > li .depalpha a strong::after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 3px;
  bottom: 0;
  background-color: #f9b43a;
  -webkit-transition: 0.2s all linear;
  transition: 0.2s all linear;
  z-index: -1;
}
.mo-nav .nav-wrap .depth1 > li .depalpha a::after {
  content: "";
  position: absolute;
  display: block;
  width: 10.5px;
  height: 7px;
  top: 50%;
  right: 24rem;
  margin-top: -3.5rem;
  background: url("../images/common/ico_arr.png") no-repeat;
  background-size: contain;
  -webkit-transition: 0.2s all linear;
  transition: 0.2s all linear;
}
.mo-nav .nav-wrap .depth1 > li .depth2 {
  padding: 5.5rem 0;
  background-color: #efeff6;
  border-top: 1px solid #dedce5;
}
.mo-nav .nav-wrap .depth1 > li .depth2 > li > a {
  display: block;
  padding: 13rem 10rem 13rem 30rem;
  font-size: 14rem;
  font-weight: 700;
  color: #000;
  line-height: 1;
}
.mo-nav .nav-wrap .depth1 > li .depth2 > li > a span {
  position: relative;
  display: inline-block;
  line-height: 1;
}
.mo-nav .nav-wrap .depth1 > li .depth2 > li > a span::before {
  content: "+";
  display: inline-block;
  margin-right: 4rem;
  font-size: 14rem;
  font-weight: 700;
  color: #f9b43a;
  line-height: 1;
}
.mo-nav .nav-wrap .depth1 > li.active .depalpha a::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.mo-nav .nav-wrap .depth1 > li.active .depalpha a strong::after {
  width: 100%;
}
.mo-nav .mofix-shadow {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.2s all linear;
  transition: 0.2s all linear;
  z-index: 1;
}
.mo-nav .mofix-shadow .mo-btnClose {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 40px;
  height: 40px;
  left: 266px;
}
.mo-nav .mofix-shadow .mo-btnClose span {
  font-size: 1rem;
  text-indent: -999999rem;
  display: block;
  width: 20px;
  height: 20px;
  margin: auto;
  background: url("../images/common/btn_close.png") no-repeat;
  background-size: contain;
}
.mo-menuOpen .mo-nav {
  opacity: 1;
  visibility: visible;
  z-index: 9;
}
.mo-menuOpen .mo-nav .nav-wrap {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.mo-menuOpen .mo-nav .mofix-shadow {
  opacity: 1;
  visibility: visible;
}

.gnb {
  display: none;
  position: absolute;
  width: 100%;
  height: 85px;
  top: 0;
  overflow: hidden;
  -webkit-transition: 0.2s all linear;
  transition: 0.2s all linear;
  z-index: 2;
}
@media screen and (min-width: 1120px) {
  .gnb {
    display: block;
  }
}
.gnb .nav-pcwrap {
  width: 75%;
  max-width: 830px;
  height: auto;
  margin: auto 7.3113207547% auto auto;
  text-align: center;
}
.gnb .nav-pcwrap .depth1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.gnb .nav-pcwrap .depth1 > li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 5px;
  letter-spacing: -1px;
}
.gnb .nav-pcwrap .depth1 > li .depalpha a {
  display: block;
  height: 85px;
  font-size: 16rem;
  color: #fff;
  line-height: 85px;
}
.gnb .nav-pcwrap .depth1 > li .depalpha a strong {
  display: inline-block;
  position: relative;
  line-height: 1.2;
}
.gnb .nav-pcwrap .depth1 > li .depalpha a strong::before {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  bottom: 0;
  height: 6px;
  background-color: #f9b43a;
  -webkit-transition: 0.2s all linear;
  transition: 0.2s all linear;
  z-index: -1;
}
.fx .gnb .nav-pcwrap .depth1 > li .depalpha a {
  color: #222;
}

.gnb .nav-pcwrap .depth1 > li:hover .depalpha a strong::before {
  width: 100%;
}
.gnb .nav-pcwrap .depth1 > li .depth2 > li {
  margin-bottom: 18px;
  line-height: 1.1;
}
.gnb .nav-pcwrap .depth1 > li .depth2 > li a {
  font-size: 14rem;
  color: #222;
}
.gnb .nav-pcwrap .depth1 > li.current .depalpha a strong::before {
  width: 100%;
}
@media screen and (min-width: 1470px) {
  .gnb .nav-pcwrap {
    max-width: 1430px;
    margin: auto 7.3113207547% auto auto;
  }
  .gnb .nav-pcwrap .depth1 > li {
    margin: 0 10px;
  }
  .gnb .nav-pcwrap .depth1 > li .depalpha a {
    font-size: 20rem;
  }
  .gnb .nav-pcwrap .depth1 > li .depth2 > li a {
    font-size: 16rem;
  }
}
.gnb .gnbclose {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.2s all linear 0.2s;
  transition: 0.2s all linear 0.2s;
}
.gnbopen .gnb {
  background-color: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 12px;
          box-shadow: rgba(0, 0, 0, 0.2) 0 0 12px;
}
.gnbopen .gnb .nav-pcwrap .depth1 > li .depalpha a {
  color: #222;
}
.gnbopen .gnb .gnbclose {
  display: block;
  position: absolute;
  width: 33px;
  height: 32px;
  bottom: 24px;
  right: 21px;
  opacity: 1;
  visibility: visible;
  background: url("../images/common/gnb_close.svg") no-repeat;
  background-size: contain;
}
.gnbopen .gnb .gnbclose span {
  font-size: 1rem;
  text-indent: -999999rem;
  display: block;
}

.foot-inner {
  position: relative;
  padding: 30px 20px 30px;
}
.foot-inner .footlogo {
  width: 106.5px;
  height: 25.5px;
  margin: auto;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../images/common/logo.svg");
}
.foot-inner .footlogo span {
  font-size: 1rem;
  text-indent: -999999rem;
  display: none;
}
.foot-inner address {
  margin-top: 12px;
  font-size: 12rem;
  text-align: center;
}
.foot-inner address h6 {
  position: relative;
  display: inline-block;
  padding-right: 10px;
  margin-right: 8px;
  font-size: 12rem;
  font-weight: 700;
}
.foot-inner address h6::after {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  content: "";
  right: 0;
  width: 1px;
  height: 12px;
  background-color: #444;
}
.foot-inner address .addr {
  position: relative;
  display: inline-block;
}
.foot-inner address .addr-etc {
  margin-top: 5px;
}
.foot-inner address .addr-etc span {
  position: relative;
  display: inline-block;
}
.foot-inner address .addr-etc span + span {
  margin-left: 5px;
}
.foot-inner address .addr-etc span em {
  font-style: normal;
  color: #005bab;
}
@media screen and (min-width: 1120px) {
  .foot-inner {
    max-width: 1140px;
    margin: auto;
    padding: 30px 0 105px;
  }
  .foot-inner .footlogo {
    position: absolute;
    width: 194px;
    height: 47px;
    top: 30px;
    left: 0;
  }
  .foot-inner address {
    padding-left: 230px;
    margin-top: 0;
    font-size: 18rem;
    text-align: initial;
  }
  .foot-inner address h6 {
    padding-right: 14px;
    margin-right: 10px;
    font-size: 18rem;
  }
  .foot-inner address h6::after {
    height: 18px;
  }
  .foot-inner address .addr-etc {
    margin-top: 2px;
  }
  .foot-inner address .addr-etc span + span {
    margin-left: 10px;
  }
}
.foot-inner .btntop {
  display: none;
}
@media screen and (min-width: 1120px) {
  .foot-inner .btntop {
    display: block;
    position: absolute;
    width: 46px;
    height: 46px;
    top: 30px;
    right: 0;
    background: url("../images/common/btn_top.png") no-repeat;
    background-size: contain;
  }
  .foot-inner .btntop span {
    font-size: 1rem;
    text-indent: -999999rem;
    display: block;
  }
}

#wrapper[data-theme=dark] #footer {
  background-color: #121212;
  color: #888;
}

.btn {
  display: inline-block;
  height: 30px;
  padding: 0 10px;
  font-weight: 700;
  font-size: 12rem;
  line-height: 30px;
  text-align: center;
  border: 1px solid #a8a8b8;
  border-radius: 15px;
}
@media screen and (min-width: 1120px) {
  .btn {
    height: 60px;
    line-height: 60px;
    font-size: 20rem;
    border-radius: 30px;
  }
}
.btn.clr-2 {
  color: #f9b43a;
  border-color: #f9b43a;
}
.btn.clr-2.bt-arr::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 7px;
  margin-left: 4px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../images/common/ico_arr2.png");
}
@media screen and (min-width: 1120px) {
  .btn.clr-2.bt-arr::after {
    width: 17px;
    height: 13px;
  }
}
.btn.clr-on2 {
  color: #000;
  background-color: #f9b43a;
  border-color: #f9b43a;
}
.btn.clr-on2.bt-arr::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 7px;
  margin-left: 4px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../images/common/ico_arr2_on.png");
}
@media screen and (min-width: 1120px) {
  .btn.clr-on2.bt-arr::after {
    width: 17px;
    height: 13px;
  }
}
.btn span {
  display: inline-block;
}

.dllist {
  margin-top: 25px;
}
.dllist > dt {
  padding-bottom: 10px;
  margin-bottom: 12px;
  color: #121212;
  font-weight: 700;
  font-size: 18rem;
  border-bottom: 1px solid #dedce5;
}
.dllist > dd {
  position: relative;
  padding-left: 10px;
  font-size: 14px;
  margin-top: 5px;
}
.dllist > dd:first-of-type {
  margin-top: 0;
}
.dllist > dd::before {
  content: "";
  display: block;
  position: absolute;
  width: 6px;
  height: 1px;
  top: 8px;
  left: 0;
  background-color: #444;
}
@media screen and (min-width: 1120px) {
  .dllist {
    margin-top: 65px;
  }
  .dllist > dt {
    padding-bottom: 20px;
    margin-bottom: 25px;
    font-size: 32rem;
  }
  .dllist > dd {
    padding-left: 12px;
    font-size: 20rem;
    margin-top: 8px;
  }
  .dllist > dd::before {
    top: 14px;
  }
}

.brdlist > li {
  border: 1px solid #dedce5;
  margin-top: 12px;
}
.brdlist > li > a {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.brdlist > li:first-of-type {
  margin-top: 0;
}
@media screen and (min-width: 1120px) {
  .brdlist > li {
    margin-top: 24px;
  }
}
.brdlist .imgthumb {
  -webkit-box-flex: 0;
      -ms-flex: 0 170px;
          flex: 0 170px;
}
.brdlist .imgthumb img {
  width: 100%;
}
.brdlist .brd-desc {
  -webkit-box-flex: 0;
      -ms-flex: 0 calc(100% - 196px);
          flex: 0 calc(100% - 196px);
  width: calc(100% - 196px);
  padding: 10px 10px 10px 0;
  margin-left: 20px;
}
.brdlist .brd-desc .tit {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 16rem;
  font-weight: 700;
  color: #222;
}
.brdlist .brd-desc .date {
  margin-top: 5px;
  font-size: 12rem;
  font-weight: 300;
  color: #222;
}
@media screen and (min-width: 1120px) {
  .brdlist .imgthumb {
    -webkit-box-flex: 0;
        -ms-flex: 0 353px;
            flex: 0 353px;
  }
  .brdlist .brd-desc {
    -webkit-box-flex: 0;
        -ms-flex: 0 calc(100% - 393px);
            flex: 0 calc(100% - 393px);
    width: calc(100% - 393px);
    padding: 20px 20px 20px 0;
    margin-left: 40px;
  }
  .brdlist .brd-desc .tit {
    font-size: 26rem;
  }
  .brdlist .brd-desc .date {
    margin-top: 10px;
    font-size: 20rem;
  }
}

.brdlist2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.brdlist2 > li {
  -webkit-box-flex: 0;
      -ms-flex: 0 30.9649122807%;
          flex: 0 30.9649122807%;
  border: 1px solid #dedce5;
  margin-bottom: 10px;
}
.brdlist2 > li > a {
  display: block;
}
.brdlist2 .brd-desc {
  padding: 12px;
}
.brdlist2 .brd-desc .tit {
  font-size: 14rem;
  font-weight: 700;
  color: #222;
}
.brdlist2 .brd-desc .date {
  margin-top: 8px;
  font-size: 12rem;
  font-weight: 300;
  color: #222;
}
.brdlist2 .brd-desc .tag-news {
  margin-top: 5px;
}
.brdlist2 .brd-desc .tag-news span {
  margin-right: 5px;
}
@media screen and (min-width: 1120px) {
  .brdlist2 .brd-desc {
    padding: 24px;
  }
  .brdlist2 .brd-desc .tit {
    font-size: 20rem;
  }
  .brdlist2 .brd-desc .date {
    margin-top: 20px;
    font-size: 18rem;
  }
  .brdlist2 .brd-desc .tag-news {
    margin-top: 20px;
  }
}

.flex-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.flex-list > li {
  -webkit-box-flex: 0;
      -ms-flex: 0 64.4827586207%;
          flex: 0 64.4827586207%;
  max-width: 374px;
  margin: 0 15px 30px;
}
.flex-list .fig1 .item-img {
  width: 70.0534759358%;
  max-width: 262px;
  margin: auto;
}
.flex-list .fig1 figcaption {
  position: relative;
  margin-top: 15px;
  padding-top: 12px;
  font-size: 14rem;
  font-weight: 300;
  text-align: center;
  border-top: 1px solid #fff;
}
@media screen and (min-width: 1120px) {
  .flex-list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .flex-list > li {
    margin: 0 0 75px;
    max-width: 301px;
  }
  .flex-list > li .fig1 figcaption {
    margin-top: 40px;
    padding-top: 16px;
    font-size: 20rem;
    letter-spacing: -0.8px;
  }
}

.orglist {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 48px;
}
.orglist::before {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  content: "";
  width: 8px;
  height: 20px;
  top: 0;
  background: url("../images/sub/cross.png") no-repeat center;
  background-size: contain;
}
.orglist > li {
  -webkit-box-flex: 0;
      -ms-flex: 0 100%;
          flex: 0 100%;
  margin-bottom: 25px;
}
.orglist .orgdl {
  text-align: center;
  color: #fff;
}
.orglist .orgdl dt {
  padding-bottom: 16px;
  margin-bottom: 16px;
  font-size: 20rem;
  font-weight: 700;
  border-bottom: 1px solid #f9b43a;
}
.orglist .orgdl dd {
  font-size: 14rem;
  font-weight: 300;
}
@media screen and (min-width: 1120px) {
  .orglist {
    padding-top: 86px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .orglist::before {
    width: 16px;
    height: 39px;
  }
  .orglist > li {
    -webkit-box-flex: 0;
        -ms-flex: 0 28.9473684211%;
            flex: 0 28.9473684211%;
    margin-bottom: 45px;
  }
  .orglist .orgdl dt {
    margin-bottom: 20px;
    font-size: 32rem;
  }
  .orglist .orgdl dd {
    font-size: 20rem;
  }
}

.word-list1 > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}
.word-list1 > li strong {
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  margin-right: 5px;
  white-space: nowrap;
  font-size: 16rem;
}
.word-list1 > li span {
  -webkit-box-flex: 0;
      -ms-flex: 0 auto;
          flex: 0 auto;
  font-size: 12rem;
}
.word-list1 > li:first-of-type {
  margin-top: 0;
}
@media screen and (min-width: 1120px) {
  .word-list1 > li {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .word-list1 > li strong {
    font-size: 28rem;
  }
  .word-list1 > li span {
    font-size: 20px;
  }
}

.thumb-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.thumb-list > li {
  -webkit-box-flex: 0;
      -ms-flex: 0 46.9724770642%;
          flex: 0 46.9724770642%;
  max-width: 256px;
  margin-bottom: 20px;
}
.thumb-list > li > a {
  display: block;
}
.thumb-list .thumfig .thumb {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  background-color: #444;
}
.thumb-list .thumfig figcaption {
  margin-top: 8px;
}
.thumb-list .thumfig figcaption .tit {
  color: #005bab;
  font-weight: 700;
  font-size: 14rem;
}
.thumb-list .thumfig figcaption .desc {
  font-size: 12rem;
}
@media screen and (min-width: 1120px) {
  .thumb-list > li {
    margin-bottom: 60px;
  }
  .thumb-list > li > a:hover .thumfig .thumb img {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .thumb-list .thumfig .thumb {
    border-radius: 24px;
  }
  .thumb-list .thumfig .thumb img {
    -webkit-transition: 2s all linear;
    transition: 2s all linear;
  }
  .thumb-list .thumfig figcaption .tit {
    font-size: 22rem;
    line-height: 1.3;
  }
  .thumb-list .thumfig figcaption .desc {
    font-size: 18rem;
  }
}

.subvisual {
  position: relative;
  margin-top: 42px;
  height: 235px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.subvisual.subvis-program {
  background-image: url("../images/sub/vis_program.jpg");
}
.subvisual.subvis-value {
  background-image: url("../images/sub/vis_value.jpg");
}
.subvisual.subvis-org {
  background-image: url("../images/sub/vis_org.jpg");
}
.subvisual.subvis-newsroom {
  background-image: url("../images/sub/vis_newsroom.jpg");
}
.subvisual .subv-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  width: 90%;
}
.subvisual .subv-wrap .title {
  color: #fff;
  font-weight: 900;
  font-size: 42rem;
}
.subvisual .subv-wrap .desc {
  margin-top: 12px;
  color: #fff;
  font-weight: 700;
  font-size: 18rem;
}
.subvisual .subv-wrap .desc span {
  display: inline-block;
  position: relative;
}
.subvisual .subv-wrap .desc span + span {
  margin-left: 6px;
  padding-left: 8px;
}
.subvisual .subv-wrap .desc span + span::before {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  content: "";
  width: 3px;
  height: 3px;
  left: 0;
  background-color: #f9b43a;
}
@media screen and (min-width: 1120px) {
  .subvisual {
    height: 663px;
    margin-top: 0;
  }
  .subvisual .subv-wrap {
    width: 100%;
  }
  .subvisual .subv-wrap .title {
    font-size: 80rem;
  }
  .subvisual .subv-wrap .desc {
    font-size: 34rem;
  }
  .subvisual .subv-wrap .desc span + span {
    margin-left: 12px;
    padding-left: 16px;
  }
  .subvisual .subv-wrap .desc span + span::before {
    width: 4px;
    height: 4px;
  }
}

.location {
  background-color: #1f1f1f;
}
.location .loca-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4px 8px;
}
.location .home {
  -webkit-box-flex: 0;
      -ms-flex: 0 25px;
          flex: 0 25px;
  height: 25px;
}
.location .home a {
  font-size: 1rem;
  text-indent: -999999rem;
  display: block;
  height: 100%;
  background: url("../images/common/ico_home.svg") no-repeat;
  background-size: contain;
}
.location .loc-mob {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 12px;
  position: relative;
}
.location .loc-mob .sele {
  display: block;
  width: 100%;
  border: 1px solid #7a7a7a;
  height: 28px;
  padding: 0 30px 0 8px;
  color: #fff;
  font-size: 14rem;
  line-height: 26px;
}
.location .loc-mob .sele option {
  background-color: #1f1f1f;
}
.location .loc-mob::after {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  content: "";
  display: block;
  width: 9px;
  height: 5px;
  right: 8px;
  background: url("../images/common/ico_select.png") no-repeat center;
  background-size: contain;
}
.location .loc-desk {
  display: none;
}
@media screen and (min-width: 1120px) {
  .location {
    height: 72px;
  }
  .location .loca-inner {
    width: 1140px;
    margin: auto;
    padding: 20px 0;
  }
  .location .home {
    -ms-flex-preferred-size: 32px;
        flex-basis: 32px;
    height: 32px;
  }
  .location .loc-mob {
    display: none;
  }
  .location .loc-desk {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .location .loc-desk > li + li {
    margin-left: 40px;
  }
  .location .loc-desk > li > a {
    color: #7a7a7a;
    font-size: 20rem;
    -webkit-transition: 0.2s all linear;
    transition: 0.2s all linear;
  }
  .location .loc-desk > li > a:hover {
    color: #fff;
  }
  .location .loc-desk > li.current > a {
    color: #fff;
  }
}

.sect-dark {
  color: #fff;
  background-color: #121212;
}

.sect-inner1 {
  padding: 30px 30px 35px;
}
@media screen and (min-width: 1120px) {
  .sect-inner1 {
    width: 1140px;
    padding: 65px 0 70px;
    margin: auto;
  }
}

.sect-tit1 {
  margin-bottom: 12px;
  font-size: 22rem;
  font-weight: 900;
  color: #005bab;
  text-align: center;
}
@media screen and (min-width: 1120px) {
  .sect-tit1 {
    margin-bottom: 35px;
    font-size: 40rem;
  }
}

.small-tit1 {
  margin-bottom: 12px;
  font-size: 20rem;
}
@media screen and (min-width: 1120px) {
  .small-tit1 {
    margin-bottom: 35px;
    font-size: 34rem;
  }
}

.article-tit1 {
  margin-bottom: 12px;
  font-size: 20rem;
  font-weight: 900;
}
@media screen and (min-width: 1120px) {
  .article-tit1 {
    margin-bottom: 35px;
    font-size: 40rem;
  }
}
.sect-dark .article-tit1 {
  color: #fff;
}

.article-tit2 {
  margin-bottom: 12px;
  font-size: 18rem;
  font-weight: 400;
}
@media screen and (min-width: 1120px) {
  .article-tit2 {
    margin-bottom: 30px;
    font-size: 30rem;
  }
}
.sect-dark .article-tit2 {
  color: #fff;
}

.artiwrap .arti-fig {
  border-radius: 12px;
  overflow: hidden;
}
@media screen and (min-width: 1120px) {
  .artiwrap .arti-fig {
    border-radius: 24px;
  }
}
.artiwrap .arti-desc {
  margin-top: 20px;
}
.artiwrap .arti-btnwrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #fff;
}
.artiwrap .arti-btnwrap .btn {
  -webkit-box-flex: 0;
      -ms-flex: 0 48%;
          flex: 0 48%;
}
.artiwrap .arti-text,
.artiwrap .arti-date {
  color: #fff;
  font-size: 14rem;
}
.artiwrap .arti-text + .arti-date {
  margin-top: 15px;
}
@media screen and (min-width: 1120px) {
  .artiwrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .artiwrap .arti-fig {
    -webkit-box-flex: 0;
        -ms-flex: 0 457px;
            flex: 0 457px;
  }
  .artiwrap .arti-desc {
    -webkit-box-flex: 1;
        -ms-flex: 1 calc(100% - 417px);
            flex: 1 calc(100% - 417px);
    max-width: 643px;
    margin-top: 0;
  }
  .artiwrap .arti-btnwrap {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-bottom: 56px;
    margin-bottom: 30px;
  }
  .artiwrap .arti-btnwrap .btn {
    -webkit-box-flex: 0;
        -ms-flex: 0 auto;
            flex: 0 auto;
    display: inline-block;
    min-width: 252px;
  }
  .artiwrap .arti-btnwrap .btn + .btn {
    margin-left: 20px;
  }
  .artiwrap .arti-text,
.artiwrap .arti-date {
    font-size: 20rem;
  }
  .artiwrap .arti-text + .arti-date {
    margin-top: 25px;
  }
}

.search_area {
  position: relative;
  height: 32px;
  margin-bottom: 30px;
}
.search_area fieldset {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  white-space: nowrap;
  clip: rect(0, 0, 0, 0);
}
.search_area .inp-search {
  width: 100%;
  padding: 0 40px 0 15px;
  line-height: 30px;
  border: 1px solid #cecedc;
  border-radius: 16px;
  background-color: #f7f7fc;
}
.search_area button {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  right: 12px;
  overflow: hidden;
}
.search_area button span {
  font-size: 1rem;
  text-indent: -999999rem;
  display: block;
  width: 17px;
  height: 19px;
  margin: 6px auto;
  background: url("../images/common/ico_search.svg") no-repeat;
  background-size: contain;
}
@media screen and (min-width: 1120px) {
  .search_area {
    max-width: 432px;
    height: 46px;
    margin: 0 0 48px auto;
  }
  .search_area .inp-search {
    padding: 0 40px 0 30px;
    line-height: 44px;
    border-radius: 23px;
  }
  .search_area button {
    width: 44px;
    height: 44px;
  }
  .search_area button span {
    margin: 12px auto;
  }
}

.paging {
  margin-top: 35px;
}
.paging .btn-prev,
.paging .btn-next {
  width: 30px;
  height: 30px;
  overflow: hidden;
}
.paging .btn-prev span,
.paging .btn-next span {
  font-size: 1rem;
  text-indent: -999999rem;
  display: block;
  width: 9px;
  height: 13px;
  margin: 10px auto;
  background-repeat: no-repeat;
  background-size: contain;
}
.paging .btn-prev.off,
.paging .btn-next.off {
  opacity: 0.5;
}
.paging .page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.paging .page a {
  width: 30px;
  height: 30px;
  color: #222;
  font-size: 14rem;
  font-weight: 700;
  text-align: center;
  line-height: 30px;
}
.paging .page a.current {
  color: #fff;
  background-color: #f9b43a;
  border-radius: 50%;
  overflow: hidden;
}
.paging .page .btn-prev {
  margin-right: 10px;
}
.paging .page .btn-prev span {
  background-image: url("../images/common/page_prev.png");
}
.paging .page .btn-next {
  margin-left: 10px;
}
.paging .page .btn-next span {
  background-image: url("../images/common/page_next.png");
}
@media screen and (min-width: 1120px) {
  .paging {
    margin-top: 72px;
  }
  .paging .btn-prev,
.paging .btn-next {
    width: 40px;
    height: 40px;
  }
  .paging .page a {
    width: 40px;
    height: 40px;
    font-size: 24rem;
    line-height: 40px;
  }
  .paging .page .btn-prev {
    margin-right: 15px;
  }
  .paging .page .btn-next {
    margin-left: 15px;
  }
}

.tag-news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 5px;
}
.tag-news span {
  padding: 0 10px;
  margin: 3px 10px 3px 0;
  border: 1px solid #cecedc;
  border-radius: 8px;
  font-size: 11rem;
}
.sect-dark .tag-news span {
  color: #fff;
}

.tag-news span.light {
  border-color: #f9b43a;
}
@media screen and (min-width: 1120px) {
  .tag-news {
    margin-top: 40px;
  }
  .tag-news span {
    padding: 0 15px;
    margin: 5px 15px 5px 0;
    border-radius: 20px;
    font-size: 18rem;
  }
}

.brdview .vwimg {
  margin-bottom: 20px;
}
.brdview .desc {
  font-size: 14rem;
  font-weight: 300;
}
@media screen and (min-width: 1120px) {
  .brdview .vwimg {
    margin-bottom: 35px;
  }
  .brdview .desc {
    font-size: 20rem;
  }
  .brdview .tag-news {
    margin-top: 25px;
  }
}