.foot-inner {
    position: relative;
    padding: 30px 20px 30px;

    .footlogo {
        width: calc(213px / 2);
        height: calc(51px / 2);
        margin: auto;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url('../images/common/logo.svg');

        span {
            @include ir();
            display: none;
        }
    }

    address {
        margin-top: 12px;
        font-size: 12rem;
        text-align: center;

        h6 {
            position: relative;
            display: inline-block;
            padding-right: 10px;
            margin-right: 8px;
            font-size: 12rem;
            font-weight: 700;

            &::after {
                @include posiCenter('v');
                content: '';
                right: 0;
                width: 1px;
                height: 12px;
                background-color: $color-default;
            }
        }

        .addr {
            position: relative;
            display: inline-block;
        }

        .addr-etc {
            margin-top: 5px;

            span {
                position: relative;
                display: inline-block;

                & + span {
                    margin-left: 5px;
                }

                em {
                    font-style: normal;
                    color: $color-primary;
                }
            }
        }
    }

    @include mq('desktop') {
        max-width: 1140px;
        margin: auto;
        padding: 30px 0 105px;

        .footlogo {
            position: absolute;
            width: 194px;
            height: 47px;
            top: 30px;
            left: 0;
        }

        address {
            padding-left: 230px;
            margin-top: 0;
            font-size: 18rem;
            text-align: initial;

            h6 {
                padding-right: 14px;
                margin-right: 10px;
                font-size: 18rem;

                &::after {
                    height: 18px;
                }
            }

            .addr-etc {
                margin-top: 2px;

                span {
                    & + span {
                        margin-left: 10px;
                    }
                }
            }
        }
    }

    .btntop {
        display: none;

        @include mq('desktop') {
            display: block;
            position: absolute;
            width: 46px;
            height: 46px;
            top: 30px;
            right: 0;
            background: url('../images/common/btn_top.png') no-repeat;
            background-size: contain;

            span {
                @include ir();
                display: block;
            }
        }
    }
}

.foot-dark {
    background-color: $black4;
    color: $gray5;
}
