#header {
    position: fixed;
    width: 100%;
    height: calc($nav-height / 2);
    top: 0;
    background-color: $white;
    z-index: 10;

    &::after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: 0;
        background: linear-gradient(to right, $color-primary, $color-secondary);
        background-size: 200% 200%;
        animation: backLoop 12s ease infinite;
        z-index: 2;
    }

    .logo {
        display: block;
        height: 100%;

        a {
            display: block;
            position: relative;
            width: calc(194px / 2);
            height: 100%;
            margin: auto;

            span {
                @include ir();
                @include posiCenter(va);
                display: block;
                width: 100%;
                height: calc(47px / 2);
                background-image: url('../images/common/logo.svg');
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
    }

    .head-menuBtn {
        position: absolute;
        display: block;
        width: calc(85px / 2);
        height: 100%;
        top: 0;

        @include mq('desktop') {
            display: none;
        }

        &::before,
        &::after {
            @include posiCenter('va');
            content: '';
            display: block;
            width: 6px;
            height: 6px;
            background-color: $gray;
            border-radius: 50%;
        }

        &::before {
            margin-left: -11px;
        }

        span {
            @include posiCenter('va');
            @include ir();
            display: block;
            width: 8px;
            height: 8px;
            margin-left: 12rem;

            &::before,
            &::after {
                content: '';
                display: block;
                position: absolute;
                width: 8px;
                height: 2px;
                top: 50%;
                left: 50%;
                margin: -1rem 0 0 -4rem;
                background-color: $color-primary;
                transition: 0.2s all linear;
            }

            &::before {
                transform: rotate(90deg);
            }

            @at-root .mo-menuOpen & {
                &::before {
                    opacity: 0;
                    transform: rotate(0deg);
                }

                &::after {
                    background-color: $color-secondary;
                }
            }
        }
    }

    .head-snsBtn {
        @include posiCenter('v');
        display: block;
        width: 36px;
        padding: 0 7px;
        right: 8px;
        color: $navy;
        font-size: 12rem;
        font-weight: 700;
        line-height: 19rem;
        border: 1px solid $color-primary;
        border-radius: 10px;
        text-align: center;

        @include mq('desktop') {
            width: 48px;
            height: 24px;
            right: 24px;
            font-size: 18rem;
            color: $white;
            line-height: 24px;
            text-align: center;
            background-color: $blue;
            border: none;
            border-radius: 6px;
            z-index: 3;
        }
    }

    @include mq('desktop') {
        height: $nav-height;
        background-color: transparent;
        transition: 0.2s all linear;

        &::after {
            display: none;
        }

        .logo {
            position: relative;
            width: 198px;
            height: 48px;
            margin: 19px 0 0 24px;
            z-index: 3;

            a {
                width: 100%;
                height: 100%;
                margin: 0;

                span {
                    height: 100%;
                    background-image: url('../images/common/logo_w.svg');
                }
            }
        }

        @at-root .fx & {
            background-color: $white;
            box-shadow: rgba($black, 0.2) 0 0 12px;

            .logo {
                a {
                    span {
                        background-image: url('../images/common/logo.svg');
                    }
                }
            }
        }

        @at-root .gnbopen & {
            .logo {
                a {
                    span {
                        background-image: url('../images/common/logo.svg');
                    }
                }
            }
        }
    }
}
