.main-viswrap {
    height: calc(100vh - 42px);
    margin-top: 42.5px;

    .item {
        position: relative;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        @include mq('desktop') {
            &::before {
                content: '';
                display: block;
                position: absolute;
                width: 100%;
                height: 40vh;
                top: 0;
                background-image: linear-gradient(to top, rgba($black, 0), rgba($black, 1));
            }
        }

        // &.item-vis3 {
        //     background-image: url('../images/main/main_vis03.jpg');
        // }

        .itemimg {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            top: 0;
            bottom: 0;
            object-fit: cover;
            z-index: 1;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .item-inner {
            position: relative;
            display: flex;
            height: 100%;
            padding: 0 20px;
            text-align: center;
            z-index: 2;

            .inw {
                flex: 1 1 100%;
                align-self: center;

                .tit {
                    color: $white;
                    margin-bottom: 12px;
                    font-size: 44rem;
                    font-weight: 900;
                    text-shadow: rgba($black, 0.5) 3px 3px 8px;
                }

                .intext {
                    color: $white;
                    font-size: 16rem;
                    text-shadow: rgba($black, 0.5) 3px 3px 8px;
                }

                .btns {
                    margin-top: 25px;

                    a {
                        display: inline-block;
                        width: 100%;
                        height: 38px;
                        color: $blue;
                        font-size: 16rem;
                        font-weight: 700;
                        line-height: 38px;
                        border-radius: 20px;
                        background-color: $white;

                        &.bt-blue {
                            color: $white;
                            background-color: $blue;
                        }

                        & + a {
                            margin-top: 12px;
                        }
                    }

                    @include mq('tablet') {
                        a {
                            width: 500px;
                        }
                    }

                    @include mq('desktop') {
                        margin-top: 60px;

                        a {
                            width: 340px;
                            height: 72px;
                            font-size: 28rem;
                            line-height: 72px;
                            border-radius: 40px;

                            & + a {
                                margin: 0 0 0 68px;
                            }
                        }
                    }
                }
            }
        }
    }

    .control-area {
        @include posiCenter('a');
        width: 103px;
        height: 33px;
        bottom: 32px;
        background-color: rgba($black, 0.8);
        box-shadow: 0px 3px 7px 0 rgba($black, 0.35);
        border-radius: 20px;
        z-index: 5;

        .swiper-pagination {
            color: $white;
            font-size: 12rem;
            left: 0;
            width: 40%;

            @include mq('desktop') {
                font-size: 18px;
                left: 18px;
                width: 40px;
                letter-spacing: -1.5px;
            }
        }

        .swiper-button-prev,
        .swiper-button-next {
            width: 10px;
            height: 17px;
            margin-top: -8.5px;
            background-repeat: no-repeat;
            background-size: contain;

            &:after {
                display: none;
            }
        }

        .swiper-button-prev {
            left: 45px;
            background-image: url('../images/common/sld_prev_1.png');

            @include mq('desktop') {
                left: 88px;
            }
        }
        .swiper-button-next {
            right: 8px;
            background-image: url('../images/common/sld_next_1.png');

            @include mq('desktop') {
                right: 27px;
            }
        }

        .swiper-play {
            position: absolute;
            width: 14px;
            height: 14px;
            top: 50%;
            margin-top: -7px;
            right: 25px;

            .btn_pause {
                display: block;
                width: 14px;
                height: 14px;
                overflow: hidden;

                span {
                    display: block;
                    height: 100%;
                    background-image: url('../images/common/sld_stop_1.png');
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                }

                &.on {
                    span {
                        margin: auto;
                        background-image: url('../images/common/sld_play_1.png');
                    }
                }
            }

            @include mq('desktop') {
                width: 16px;
                height: 16px;
                margin-top: -8px;
                right: 58px;
            }
        }
    }

    @include mq('desktop') {
        height: 100vh;
        margin-top: 0;

        .item {
            .item-inner {
                padding: 0 40px;

                .inw {
                    .tit {
                        margin-bottom: 25px;
                        font-size: 100rem;
                    }

                    .intext {
                        font-size: 28rem;
                    }
                }
            }
        }

        .control-area {
            width: 194px;
            height: 53px;
            bottom: 64px;
            border-radius: 30px;
        }
    }
}

.main-sect01 {
    padding: 26px 30px;
    background-color: $lightGray2;

    .btn-st {
        display: block;
        width: 28px;
        height: 28px;
        margin: 12px auto 0;
        text-align: center;
        background-color: $color-primary;
        border-radius: 50%;
        overflow: hidden;

        .icoplus {
            display: block;
            width: 12px;
            height: 12px;
            margin: 8px auto;
            background: url('../images/common/ico_plus03.png') no-repeat;
            background-size: contain;
        }

        .text {
            display: none;
        }
    }

    @include mq('desktop') {
        padding: 65px 40px 70px;

        .btn-st {
            width: 156px;
            height: 46px;
            margin-top: 45px;
            padding: 0 10px;
            line-height: 44px;
            border-radius: 25px;

            .icoplus {
                display: inline-block;
                vertical-align: middle;
                width: 20px;
                height: 20px;
                margin: 0 4px 0 0;
            }

            .text {
                display: inline-block;
                vertical-align: middle;
                color: $white;
                font-size: 20rem;
            }
        }
    }
}

.main-sect02 {
    padding-top: 26px;
    padding-bottom: 26px;

    @include mq('desktop') {
        padding-top: 75px;
        padding-bottom: 75px;
    }
}

.masect-tit {
    margin-bottom: 12px;
    font-size: 22rem;
    font-weight: 900;
    color: $color-primary;
    text-align: center;

    @include mq('desktop') {
        margin-bottom: 35px;
        font-size: 40rem;
    }
}

.masect-ment1 {
    font-size: 14rem;
    text-align: center;

    @include mq('desktop') {
        font-size: 20rem;
    }
}

.main-inner {
    padding-left: 30px;
    padding-right: 30px;

    @include mq('desktop') {
        max-width: 1140px;
        margin-left: auto;
        margin-right: auto;
    }
}

.main-inner2 {
    @include mq('desktop') {
        max-width: 1140px;
        padding-left: 30px;
        padding-right: 30px;
        margin-left: auto;
        margin-right: auto;
    }
}

.main-thumbitem {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    & > li {
        flex: 1 1 100%;
        margin-top: 15px;

        & > a {
            display: block;
        }

        @include mq('tabletLte') {
            &:nth-of-type(n + 4) {
                display: none;
            }
        }

        @include mq('desktop') {
            flex: 0 0 calc(551px / 1140px) * 100%;
            margin-top: 40px;

            &.mali1 {
                flex-basis: 100%;

                .item-thumb {
                    figcaption {
                        position: absolute;
                        left: 33px;
                        bottom: 30px;

                        h4,
                        p {
                            font-size: 20rem;
                            font-weight: 400;
                            color: $white;
                        }
                    }
                }
            }
        }
    }

    .item-thumb {
        position: relative;

        .item-img {
            position: relative;
            border-radius: 12px;
            overflow: hidden;

            img {
                width: 100%;
            }

            .movie-play {
                position: absolute;
                width: 36px;
                height: 36px;
                right: 8px;
                bottom: 8px;
                background: url('../images/common/bt_play.png') no-repeat;
                background-size: contain;
            }
        }

        figcaption {
            margin-top: 6px;

            h4 {
                font-size: 14rem;
                color: $color-primary;
            }

            p {
                margin-top: 2px;
                font-size: 12rem;
            }
        }
    }

    @include mq('desktop') {
        .item-thumb {
            .item-img {
                border-radius: 24px;

                .movie-play {
                    position: absolute;
                    width: 36px;
                    height: 36px;
                    right: 8px;
                    bottom: 8px;
                    background: url('../images/common/bt_play.png') no-repeat;
                    background-size: contain;
                }
            }

            figcaption {
                h4 {
                    font-size: 22rem;
                }

                p {
                    font-size: 18rem;
                }
            }
        }
    }
}

.main-programWrap {
    .item {
        .itemimg {
            position: relative;
            border-radius: 12px;
            overflow: hidden;

            img {
                width: 100%;
            }

            .intext {
                position: absolute;
                top: 8px;
                left: 8px;
                color: $white;

                .tit {
                    font-weight: 700;
                    font-size: 20rem;

                    span {
                        font-size: 12rem;
                    }
                }

                .name {
                    font-size: 12rem;
                }
            }

            @include mq('desktop') {
                border-radius: 24px;

                .intext {
                    top: 30px;
                    left: 32px;

                    .tit {
                        font-size: 32rem;

                        span {
                            font-size: 20rem;
                        }
                    }

                    .name {
                        font-size: 20rem;
                    }
                }
            }
        }

        .btmtext {
            margin-top: 5px;

            p {
                font-size: 12rem;
            }

            @include mq('desktop') {
                margin-top: 18px;

                p {
                    min-height: 81px;
                    font-size: 18rem;
                }
            }
        }
    }
}

.sldbtn-wrap {
    margin-top: 12px;
    text-align: center;

    .sldbtn {
        display: inline-block;
        height: 25px;
        padding: 0 20px;
        line-height: 25px;
        font-size: 12rem;
        text-align: center;
        border-radius: 13px;
        background-color: $gray3;

        & + .sldbtn {
            margin-left: 8px;
        }

        &.bluebtn {
            color: $white;
            background-color: $color-primary;
        }
    }

    @include mq('desktop') {
        margin-top: 16px;
        text-align: left;

        .sldbtn {
            height: 28px;
            line-height: 28px;
            font-size: 18rem;
        }
    }
}

.sw-prg {
    position: relative;

    .control-area2 {
        position: absolute;
        width: 100%;
        top: 25%;

        .swiper-button-prev2,
        .swiper-button-next2 {
            position: absolute;
            width: 25px;
            height: 25px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;

            &::after {
                display: none;
            }

            &.swiper-button-disabled {
                opacity: 0.35;
            }
        }

        .swiper-button-prev2 {
            left: -28px;
            background-image: url('../images/common/sld_prev.svg');
        }

        .swiper-button-next2 {
            right: -28px;
            background-image: url('../images/common/sld_next.svg');
        }

        .swiper-pagination2 {
            display: none;
        }

        @include mq('desktop') {
            top: 30%;
            height: 57px;

            .swiper-button-prev2,
            .swiper-button-next2 {
                width: 57px;
                height: 57px;
            }

            .swiper-button-prev2 {
                left: -88px;
            }

            .swiper-button-next2 {
                right: -88px;
            }

            .swiper-pagination2 {
                display: block;
                position: absolute;
                width: auto;
                top: -184px;
                right: 0;
                left: auto;
                bottom: auto;

                color: transparent;

                .swiper-pagination-current {
                    display: inline-block;
                    height: 24px;
                    padding: 0 10px;
                    font-size: 20rem;
                    color: $white;
                    text-align: center;
                    line-height: 24px;
                    background-color: $gray;
                    border-radius: 12px;
                }

                .swiper-pagination-total {
                    color: $color-default;
                    font-size: 20rem;
                }
            }
        }
    }
}

.main-thumbitem2 {
    .ma-imgfig {
        .item-img {
            border-radius: 12px;
            overflow: hidden;

            img {
                width: 100%;
            }
        }

        figcaption {
            margin-top: 8px;

            .tit {
                display: none;
            }

            .desc {
                font-size: 12rem;
            }
        }
    }

    @include mq('desktop') {
        .ma-imgfig {
            display: flex;

            .item-img {
                flex: 1 1 550px;
                max-width: 550px;
                border-radius: 24px;

                img {
                    max-width: 550px;
                }
            }

            figcaption {
                margin: 0 0 0 40px;

                .tit {
                    display: block;
                    font-weight: 700;
                    font-size: 26px;
                }

                .desc {
                    margin-top: 10px;
                    font-size: 18rem;
                }
            }
        }
    }
}
