.mo-nav {
    position: fixed;
    width: 100%;
    height: calc(100vh - 42.5px);
    top: 42.5px;
    visibility: hidden;
    opacity: 0;
    z-index: 0;

    @include mq('desktop') {
        display: none;
    }

    .nav-wrap {
        position: relative;
        width: 256px;
        height: 100%;
        background-color: $white;
        overflow-y: auto;
        transition: 0.2s all linear;
        transform: translateX(-256px);
        opacity: 0;
        visibility: hidden;
        z-index: 3;

        .depth1 {
            & > li {
                position: relative;
                border-bottom: 1px solid $gray2;

                .depalpha {
                    a {
                        position: relative;
                        display: block;
                        padding: 17rem 26rem 17rem 28rem;
                        font-size: 16rem;
                        font-weight: 700;
                        color: $black;
                        line-height: 1;

                        strong {
                            position: relative;
                            display: inline-block;
                            line-height: 1;
                            z-index: 1;

                            &::after {
                                content: '';
                                position: absolute;
                                display: block;
                                width: 0;
                                height: 3px;
                                bottom: 0;
                                background-color: $color-secondary;
                                transition: 0.2s all linear;
                                z-index: -1;
                            }
                        }

                        &::after {
                            content: '';
                            position: absolute;
                            display: block;
                            width: 10.5px;
                            height: 7px;
                            top: 50%;
                            right: 24rem;
                            margin-top: -3.5rem;
                            background: url('../images/common/ico_arr.png') no-repeat;
                            background-size: contain;
                            transition: 0.2s all linear;
                        }
                    }
                }

                .depth2 {
                    // display: none;
                    padding: 5.5rem 0;
                    background-color: $lightGray;
                    border-top: 1px solid $gray2;

                    & > li {
                        & > a {
                            display: block;
                            padding: 13rem 10rem 13rem 30rem;
                            font-size: 14rem;
                            font-weight: 700;
                            color: $black;
                            line-height: 1;

                            span {
                                position: relative;
                                display: inline-block;
                                line-height: 1;

                                &::before {
                                    content: '+';
                                    display: inline-block;
                                    margin-right: 4rem;
                                    font-size: 14rem;
                                    font-weight: 700;
                                    color: $color-secondary;
                                    line-height: 1;
                                }
                            }
                        }
                    }
                }

                &.active {
                    .depalpha {
                        a {
                            &::after {
                                transform: rotate(180deg);
                            }

                            strong {
                                &::after {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .mofix-shadow {
        position: absolute;
        width: 100%;
        top: 0;
        bottom: 0;
        background-color: rgba($black, 0.2);
        opacity: 0;
        visibility: hidden;
        transition: 0.2s all linear;
        z-index: 1;

        .mo-btnClose {
            @include posiCenter('v');
            width: 40px;
            height: 40px;
            left: 266px;

            span {
                @include ir();
                display: block;
                width: 20px;
                height: 20px;
                margin: auto;
                background: url('../images/common/btn_close.png') no-repeat;
                background-size: contain;
            }
        }
    }

    @at-root .mo-menuOpen & {
        opacity: 1;
        visibility: visible;
        z-index: 9;

        .nav-wrap {
            opacity: 1;
            visibility: visible;
            transform: translateX(0);
        }

        .mofix-shadow {
            opacity: 1;
            visibility: visible;
        }
    }
}

.gnb {
    display: none;
    position: absolute;
    width: 100%;
    height: 85px;
    top: 0;
    overflow: hidden;
    transition: 0.2s all linear;
    z-index: 2;

    @include mq('desktop') {
        display: block;
    }

    .nav-pcwrap {
        max-width: 1500px;
        height: auto;
        margin: auto calc(186 / 2544) * 100% auto auto;
        text-align: center;

        .depth1 {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;

            & > li {
                flex: 0;
                margin: 0 30px;

                .depalpha {
                    a {
                        display: block;
                        height: $nav-height;
                        font-size: 20rem;
                        color: $white;
                        line-height: $nav-height;

                        @at-root .fx & {
                            color: $black2;
                        }
                    }
                }

                .depth2 {
                    & > li {
                        margin-bottom: 18px;
                        line-height: 1.1;
                        a {
                            font-size: 18rem;
                            color: $black2;
                        }
                    }
                }
            }
        }
    }

    @at-root .gnbopen & {
        background-color: $white;

        .nav-pcwrap {
            .depth1 {
                & > li {
                    .depalpha {
                        a {
                            color: $black2;
                        }
                    }
                }
            }
        }
    }
}
