.subvisual {
    position: relative;
    margin-top: 42px;
    height: 235px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &.subvis-program {
        background-image: url('../images/sub/vis_program.jpg');
    }
    &.subvis-value {
        background-image: url('../images/sub/vis_value.jpg');
    }
    &.subvis-org {
        background-image: url('../images/sub/vis_org.jpg');
    }
    &.subvis-newsroom {
        background-image: url('../images/sub/vis_newsroom.jpg');
    }

    .subv-wrap {
        @include posiCenter('va');
        text-align: center;
        width: 90%;

        .title {
            color: $white;
            font-weight: 900;
            font-size: 42rem;
        }

        .desc {
            margin-top: 12px;
            color: $white;
            font-weight: 700;
            font-size: 18rem;

            span {
                display: inline-block;
                position: relative;

                & + span {
                    margin-left: 6px;
                    padding-left: 8px;

                    &::before {
                        @include posiCenter('v');
                        content: '';
                        width: 3px;
                        height: 3px;
                        left: 0;
                        background-color: $color-secondary;
                    }
                }
            }
        }
    }

    @include mq('desktop') {
        height: 663px;
        margin-top: 0;

        .subv-wrap {
            width: 100%;

            .title {
                font-size: 80rem;
            }

            .desc {
                font-size: 34rem;

                span {
                    & + span {
                        margin-left: 12px;
                        padding-left: 16px;

                        &::before {
                            width: 4px;
                            height: 4px;
                        }
                    }
                }
            }
        }
    }
}

.location {
    background-color: $black3;

    .loca-inner {
        display: flex;
        align-items: center;
        padding: 4px 8px;
    }

    .home {
        flex: 0 25px;
        height: 25px;

        a {
            @include ir();
            display: block;
            height: 100%;
            background: url('../images/common/ico_home.svg') no-repeat;
            background-size: contain;
        }
    }

    .loc-mob {
        flex: 1;
        margin-left: 12px;
        position: relative;

        .sele {
            display: block;
            width: 100%;
            border: 1px solid $gray4;
            height: 28px;
            padding: 0 30px 0 8px;
            color: $white;
            font-size: 14rem;
            line-height: 26px;

            option {
                background-color: $black3;
            }
        }
        &::after {
            @include posiCenter('v');
            content: '';
            display: block;
            width: 9px;
            height: 5px;
            right: 8px;
            background: url('../images/common/ico_select.png') no-repeat center;
            background-size: contain;
        }
    }

    .loc-desk {
        display: none;
    }

    @include mq('desktop') {
        height: 72px;

        .loca-inner {
            width: 1140px;
            margin: auto;
            padding: 20px 0;
        }

        .home {
            flex-basis: 32px;
            height: 32px;
        }

        .loc-mob {
            display: none;
        }

        .loc-desk {
            display: flex;
            flex: 1;
            justify-content: flex-end;

            & > li {
                & + li {
                    margin-left: 40px;
                }

                & > a {
                    color: $gray4;
                    font-size: 20rem;
                    transition: 0.2s all linear;

                    &:hover {
                        color: $white;
                    }
                }

                &.current {
                    & > a {
                        color: $white;
                    }
                }
            }
        }
    }
}

.sect-dark {
    color: $white;
    background-color: $black4;
}

.sect-inner1 {
    padding: 30px 30px 35px;

    @include mq('desktop') {
        width: 1140px;
        padding: 65px 0 70px;
        margin: auto;
    }
}

.sect-tit1 {
    margin-bottom: 12px;
    font-size: 22rem;
    font-weight: 900;
    color: $color-primary;
    text-align: center;

    @include mq('desktop') {
        margin-bottom: 35px;
        font-size: 40rem;
    }
}

.small-tit1 {
    margin-bottom: 12px;
    font-size: 20rem;

    @include mq('desktop') {
        margin-bottom: 35px;
        font-size: 34rem;
    }
}

.article-tit1 {
    margin-bottom: 12px;
    font-size: 20rem;
    font-weight: 900;

    @include mq('desktop') {
        margin-bottom: 35px;
        font-size: 40rem;
    }

    @at-root .sect-dark & {
        color: $white;
    }
}

.article-tit2 {
    margin-bottom: 12px;
    font-size: 18rem;
    font-weight: 400;

    @include mq('desktop') {
        margin-bottom: 30px;
        font-size: 30rem;
    }

    @at-root .sect-dark & {
        color: $white;
    }
}

.artiwrap {
    .arti-fig {
        border-radius: 12px;
        overflow: hidden;

        @include mq('desktop') {
            border-radius: 24px;
        }
    }

    .arti-desc {
        margin-top: 20px;
    }

    .arti-btnwrap {
        display: flex;
        justify-content: space-between;
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid $white;

        .btn {
            flex: 0 48%;
        }
    }

    .arti-text,
    .arti-date {
        color: $white;
        font-size: 14rem;
    }

    .arti-text + .arti-date {
        margin-top: 15px;
    }

    @include mq('desktop') {
        display: flex;
        justify-content: space-between;

        .arti-fig {
            flex: 0 457px;
        }

        .arti-desc {
            flex: 1 calc(100% - 417px);
            max-width: 643px;
            margin-top: 0;
        }

        .arti-btnwrap {
            justify-content: flex-end;
            padding-bottom: 56px;
            margin-bottom: 30px;

            .btn {
                flex: 0 auto;
                display: inline-block;
                min-width: 252px;

                & + .btn {
                    margin-left: 20px;
                }
            }
        }

        .arti-text,
        .arti-date {
            font-size: 20rem;
        }

        .arti-text + .arti-date {
            margin-top: 25px;
        }
    }
}

.search_area {
    position: relative;
    height: 32px;
    margin-bottom: 30px;

    fieldset {
        @include blind();
    }

    .inp-search {
        width: 100%;
        padding: 0 40px 0 15px;
        line-height: 30px;
        border: 1px solid $gray3;
        border-radius: 16px;
        background-color: $lightGray2;
    }

    button {
        position: absolute;
        width: 30px;
        height: 30px;
        top: 0;
        right: 12px;
        overflow: hidden;

        span {
            @include ir();
            display: block;
            width: 17px;
            height: 19px;
            margin: 6px auto;
            background: url('../images/common/ico_search.svg') no-repeat;
            background-size: contain;
        }
    }

    @include mq('desktop') {
        max-width: 432px;
        height: 46px;
        margin: 0 0 48px auto;

        .inp-search {
            padding: 0 40px 0 30px;
            line-height: 44px;
            border-radius: 23px;
        }

        button {
            width: 44px;
            height: 44px;

            span {
                margin: 12px auto;
            }
        }
    }
}

.paging {
    margin-top: 35px;

    .btn-prev,
    .btn-next {
        width: 30px;
        height: 30px;
        overflow: hidden;

        span {
            @include ir();
            display: block;
            width: 9px;
            height: 13px;
            margin: 10px auto;
            background-repeat: no-repeat;
            background-size: contain;
        }

        &.off {
            opacity: 0.5;
        }
    }

    .page {
        display: flex;
        justify-content: center;

        a {
            width: 30px;
            height: 30px;
            color: $black2;
            font-size: 14rem;
            font-weight: 700;
            text-align: center;
            line-height: 30px;

            &.current {
                color: $white;
                background-color: $color-secondary;
                border-radius: 50%;
                overflow: hidden;
            }
        }

        .btn-prev {
            margin-right: 10px;

            span {
                background-image: url('../images/common/page_prev.png');
            }
        }

        .btn-next {
            margin-left: 10px;

            span {
                background-image: url('../images/common/page_next.png');
            }
        }
    }

    @include mq('desktop') {
        margin-top: 72px;

        .btn-prev,
        .btn-next {
            width: 40px;
            height: 40px;
        }

        .page {
            a {
                width: 40px;
                height: 40px;
                font-size: 24rem;
                line-height: 40px;
            }

            .btn-prev {
                margin-right: 15px;
            }

            .btn-next {
                margin-left: 15px;
            }
        }
    }
}

.tag-news {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;

    span {
        padding: 0 10px;
        margin: 3px 10px 3px 0;
        border: 1px solid $gray3;
        border-radius: 8px;
        font-size: 11rem;

        @at-root .sect-dark & {
            color: $white;
        }

        &.light {
            border-color: $color-secondary;
        }
    }

    @include mq('desktop') {
        margin-top: 40px;

        span {
            padding: 0 15px;
            margin: 5px 15px 5px 0;
            border-radius: 20px;
            font-size: 18rem;
        }
    }
}

.brdview {
    .vwimg {
        margin-bottom: 20px;
    }

    .desc {
        font-size: 14rem;
        font-weight: 300;
    }

    @include mq('desktop') {
        .vwimg {
            margin-bottom: 35px;
        }

        .desc {
            font-size: 20rem;
        }

        .tag-news {
            margin-top: 25px;
        }
    }
}
